<div class="row row-offcanvas row-offcanvas-left bg-light">

    <div class="col-md-3 col-lg-2 sidebar-offcanvas form-builder-sidebar pl-0" id="form-publish-sidebar">
        <div class="overflow-auto h-100">
            <ul ngbNav #nav="ngbNav" class="nav nav-tabs justify-content-start nav-justified">

                <li ng-container ngbNavItem>
                    <a ngbNavLink>Publish Code</a>
                    <ng-template ngbNavContent>
                        <div class="publish-code-container col-md-12 mt-2 text-center">
                            <div class="form-embeded-wrap mt-2">
                                <h4>Embed In Your Site
                                </h4>
                                <p class="text-muted">Simply copy & paste the code below into your html!
                                </p>

                                <div class="form-publish-link mt-2">
                                    <textarea class="form-control"><iframe src="https://staging.blazeforms.com/#/BlazeForms/Hunny_Mailinator/test" height="100%" width="100%" scrolling="auto"></iframe></textarea>
                                </div>

                            </div>


                            <div class="form-embeded-wrap mt-2">
                                <h4>Share Form Url
                                </h4>
                                <p class="text-muted">Use This URL To Create A Hyperlink To Your Form.!
                                </p>

                                <div class="form-publish-link mt-2">
                                    <input type="text" class="form-control">

                                    <a href="#">

                                    </a>

                                </div>
                            </div>

                        </div>
                    </ng-template>

                </li>
                <li ngbNavItem>
                    <a ngbNavLink>Style Editor</a>
                </li>

            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
    </div>

    <div class="col-md-9 col-lg main">
        <div class="bg-white m-3 p-3 border-top border-5 border-bf">
            <div class="publish-container">
                <!-- -----Tabs---- -->
                



                <!-- -----Tabs End---- -->
                <app-exported-form [elements]="elements">

                </app-exported-form>
            </div>
        </div>
    </div>
</div>