<div class="row row-offcanvas row-offcanvas-left bg-light">

    <div class="col-md-3 col-lg-2 sidebar-offcanvas form-builder-sidebar pl-0" id="form-publish-sidebar">
        <div class="overflow-auto h-100">
            <ul ngbNav #nav="ngbNav" class="nav nav-tabs justify-content-start nav-justified">

                <li ng-container ngbNavItem>
                    <a ngbNavLink>Publish Code</a>
                    <ng-template ngbNavContent>
                        <div class="publish-code-container col-md-12 mt-2 text-center">
                            <div class="form-embeded-wrap mt-2">
                                <h4>Embed In Your Site
                                </h4>
                                <p class="text-muted">Simply copy & paste the code below into your html!
                                </p>

                                <div class="form-publish-link mt-2">
                                    <textarea class="form-control"><iframe src="{{path}}" height="100%" width="100%" scrolling="auto"></iframe></textarea>
                                </div>

                            </div>


                            <div class="form-embeded-wrap mt-2">
                                <h4>Share Form Url
                                </h4>
                                <p class="text-muted">Use This URL To Create A Hyperlink To Your Form.!
                                </p>

                                <div class="form-publish-link mt-2">
                                    <input type="text" [value]="path" class="form-control">

                                    <a href="{{path}}">

                                    </a>

                                </div>
                            </div>

                        </div>
                    </ng-template>

                </li>
                <li ngbNavItem>
                    <a ngbNavLink>Style Editor</a>
                    <ng-template ngbNavContent>

                        <div class="form-field-control form-basic-control bg-white mb-2 pb-2 px-2">

                            <div class="font-editor">
                                <div class="col-md-12">
                                    <label _ngcontent-c25="" class="col-form-label" translate="" ng-reflect-translate="">Labels</label>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <select id="label-font-selector" [(ngModel)]="styling.labels.font" name="select" class="custom-select">
                                            <option value="Montserra">Montserra</option>
                                            <option value="Roboto">Roboto</option>
                                            <option value="Raleway">Raleway</option>
                                          </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="label-font-size-selector" [(ngModel)]="styling.labels.size" name="select" class="custom-select">
                                            <option value="11">11px</option>
                                            <option value="12">12px</option>
                                            <option value="13">13px</option>
                                          </select>

                                    </div>
                                    <div class="col-sm-2"><input type="color" [(ngModel)]="styling.labels.color" class="mt-2" id="label-color-selector" name="favcolor" value="#ff0000"></div>
                                </div>

                            </div>


                            <div class="font-editor">
                                <div class="col-md-12">
                                    <label _ngcontent-c25="" class="col-form-label" translate="" ng-reflect-translate="">Text</label>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <select id="text-font-selector" [(ngModel)]="styling.text.font"  name="select" class="custom-select">
                                            <option value="Montserra">Montserra</option>
                                            <option value="Roboto">Roboto</option>
                                            <option value="Raleway">Raleway</option>
                                          </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="text-font-size-selector" [(ngModel)]="styling.text.size"  name="select" class="custom-select">
                                            <option value="11">11px</option>
                                            <option value="12">12px</option>
                                            <option value="13">13px</option>
                                          </select>

                                    </div>
                                    <div class="col-sm-2"><input type="color" [(ngModel)]="styling.text.color"  class="mt-2" id="text-color-selector" name="favcolor" value="#ff0000"></div>
                                </div>

                            </div>

                            <div class="font-editor">
                                <div class="col-md-12">
                                    <label _ngcontent-c25="" class="col-form-label" translate="" ng-reflect-translate="">PlaceHolders</label>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <select id="placeholders-font-selector"  [(ngModel)]="styling.placeholders.font" name="select" class="custom-select">
                                            <option value="Montserra">Montserra</option>
                                            <option value="Roboto">Roboto</option>
                                            <option value="Raleway">Raleway</option>
                                          </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="placeholders-font-size-selector"  [(ngModel)]="styling.placeholders.size" name="select" class="custom-select">
                                            <option value="11">11px</option>
                                            <option value="12">12px</option>
                                            <option value="13">13px</option>
                                          </select>

                                    </div>
                                    <div class="col-sm-2"><input type="color"  [(ngModel)]="styling.placeholders.color" class="mt-2" id="placeholders-color-selector" name="favcolor" value="#ff0000"></div>
                                </div>

                            </div>

                            <div class="font-editor">
                                <div class="col-md-12">
                                    <label _ngcontent-c25="" class="col-form-label" translate="" ng-reflect-translate="">Buttons</label>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <select id="buttons-font-selector" name="select" [(ngModel)]="styling.buttons.font"  class="custom-select">
                                            <option value="Montserra">Montserra</option>
                                            <option value="Roboto">Roboto</option>
                                            <option value="Raleway">Raleway</option>
                                          </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="buttons-font-size-selector" name="select" [(ngModel)]="styling.buttons.size"  class="custom-select">
                                            <option value="11">11px</option>
                                            <option value="12">12px</option>
                                            <option value="13">13px</option>
                                          </select>

                                    </div>
                                    <div class="col-sm-2"><input type="color" class="mt-2" [(ngModel)]="styling.placeholders.color"  id="buttons-color-selector" name="favcolor" value="#ff0000"></div>
                                </div>

                            </div>


                            <div class="font-editor">
                                <div class="col-md-12">
                                    <label _ngcontent-c25="" class="col-form-label" translate="" ng-reflect-translate="">Page Background</label>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12"><input type="color" class="mt-2" [(ngModel)]="styling.pagebackgroundColor" id="page-bg-color-selector" name="favcolor" value="#ff0000"></div>
                                </div>

                            </div>

                            <div class="font-editor">
                                <div class="col-md-12">
                                    <label _ngcontent-c25="" class="col-form-label" translate="" ng-reflect-translate="">Page Background Image</label>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <div id="msg"></div>
                                        <div class="custom-file mt-3 mb-3">
                                            <input type="file" class="custom-file-input" [(ngModel)]="styling.pagebackgroundImage" id="customFile">
                                            <label class="custom-file-label selected" for="customFile"></label>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </ng-template>
                </li>

            </ul>
            <div class="overflow-auto vh-100">
                <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>
        </div>
    </div>

    <div class="col-md-9 col-lg main">
        <div class="bg-white m-3 p-3 border-top border-5 border-bf">
            <div class="publish-container">
                <!-- -----Tabs---- -->




                <!-- -----Tabs End---- -->
                <app-exported-form [elements]="elements" [styling]="styling">

                </app-exported-form>
            </div>
        </div>
    </div>
</div>