<div class="modal-dialog modal-dialog-centered modal-lg" id="delete-user-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{ modalName }}</h5>
            <button type="button" class="close" data-dismiss="modal" (click)="closePopup()" title="Close">&times;</button>
        </div>
        <div class="modal-body">
            <div class="row my-4 px-4 form-group">
                <div class="col-md-12">
                    <p>{{message}}</p>
                </div>
            </div>
        </div>
        <div class="modal-footer border-0">
            <button type="button" class="btn btn-link btn-sm text-bf" (click)="closePopup()" data-bs-dismiss="modal" title="Close">Close</button>
            <button type="button" class="btn btn-bf btn-sm" (click)="deleteUser()" title="Delete">Delete</button>
        </div>
    </div>
</div>