<div class="modal-header">
    <h4 class="modal-title">Show Visible When</h4>
    <button type="button" class="close" data-dismiss="modal" (click)="activeModal.close('close')">&times;</button>
</div>
<div class="modal-body" *ngIf="config?.selectedElement?.[config.type]">
    <div class="row">
        <div class="col-sm-4">
            <select (change)="addDependency($event)" [(ngModel)]="config.selectedElement[config.type].elementId" class="form-control">
                <option value="{{null}}">Select Input</option>
                <option *ngFor="let item of config?.targetBuilderTools"
                    [ngClass]="{'d-none': item.uiIndexId === config?.selectedElement.uiIndexId}"
                    value={{item.uiIndexId}}>
                    {{item.name}} | {{item.uiIndexId}}</option>
            </select>
        </div>
        <div class="col-sm-4">
            <select *ngIf="config?.selectedElement?.[config.type]?.elementId" [(ngModel)]="config.selectedElement[config.type].selectedCondition" (change)="addDependencyProperty($event)" class="form-control">
                <option>Select Dependency Type</option>
                <option value="isFilledOut">is filled out</option>
                <option value="isNotFilledOut">is not filled out</option>
                <option value="is">is</option>
                <option value="isNot">is not</option>
                <option value="contains">contains</option>
                <option value="doesNotContains">doesnot contains</option>
                <option value="endWith">ends with</option>
                <option value="doesNotEndWith">does not ends with</option>
                <option value="startWith">starts with</option>
                <option value="doesNotStartWith">does not starts with</option>
            </select>

        </div>
        <div class="col-sm-4">
            <div *ngIf="config?.selectedElement?.[config.type]?.type === 'text'">
                <input type="text" [(ngModel)]="config.selectedElement?.[config.type].value" class="form-control">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer border-0">
    <button type="button" class="btn btn-link btn-sm text-bf" (click)="activeModal.close('close')">Cancel</button>
    <button type="button" class="btn btn-bf btn-sm" (click)="save()">Save</button>
</div>