<!--Move form Modal-->
<div tabindex="-1" id="copy-form-workflow-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add Folder </h5>
            <button type="button" class="close" data-dismiss="modal" (click)="close()">&times;</button>
        </div>
        <div class="modal-body">
            <form [formGroup]="newFolderDef" (keyup.enter)="!newFolderDef.invalid">
                <div class="modal-body">
                    <div class="row my-4 px-4 form-group">
                        <div class="col-md-3">
                            <label for="form-name">Name</label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" formControlName="name" class="form-control" placeholder="Name">
                            <ng-container *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)">
                                <div *ngIf="f.name.errors?.required || f.name.errors?.pattern" class="field-error text-right mt-1 pr-2 small">Name is required
                                </div>
                                <div *ngIf="f.name.errors?.isExists" class="field-error text-right mt-1 pr-2 small">
                                    Folder Name is already exist</div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="row my-4 px-4 form-group">
                        <div class="col-md-3">
                            <label for="form-desc">Description</label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" class="form-control" formControlName="desc" placeholder="Description">
                            <ng-container *ngIf="f.desc.invalid && (f.desc.dirty || f.desc.touched)">
                                <div *ngIf="f.desc.errors?.required || f.desc.errors?.pattern" class="field-error text-right mt-1 pr-2 small">Last Name is required
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="row my-4 px-4 form-group">
                        <div class="col-md-3">
                            <label for="form-folder" (click)="openAddNewFolderModal()">Folder</label>
                        </div>
                        <div class="col-md-7">
                            <app-t-select [data]="folderList" [currentFormId]="null" (selectFolderEvent)="selectFolderEventHandler($event)" (selectFolderLevel)="selectFolderLevelHandler($event)"></app-t-select>

                        </div>
                        <div class="col-md-2 p-2">
                            <!-- <i class="material-icons-round">create_new_folder</i> -->
                        </div>
                        <div *ngIf="selectedLevel > 3" class="field-error text-right mt-1 pr-2 small offset-7">
                            You can add folder upto five levels 
                        </div>
                    </div>
                    <div class="row my-4 px-4 form-group">
                        <div class="col-md-3">
                            <label for="form-status">Active</label>
                        </div>
                        <div class="col-md-7">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" formControlName="active" >
                                <label class="custom-control-label" for="bf_active_form"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-link btn-sm text-bf" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-bf btn-sm" [disabled]="f.name.invalid || f.desc.invalid || selectedLevel > 3" (click)="save()">Save</button>
            </div>

        </div>
    </div>
</div>
<!-- Move form Modal form End--->