<div class="thank-you-container container d-flex align-items-center justify-content-center">
    <div class="thank-you row p-3">

        <div class="thank-you-heading-wrapper col-md-12 py-3 text-center">
                    <div class="jumbotron jumbotron-fluid text-center bg-transparent">
                        <span class="material-icons-round mb-60 text-danger" style="font-size: 60px;"> cancel </span>
                        <h1 class="display-3">OOPS</h1>
                        <p class="lead text-muted"> Your link has been expired</p>
                        <hr class="my-4">
                        <p class="lead">The link you followed is expired. Please click on the below button to go back on the Home page.</p>
                        <a class="btn btn-bf  py-2 px-4 mt-5" href="#" [routerLink]="['../../home']"  role="button">Go to home</a>                       
                      </div>
        </div>

</div>

</div>