<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Restrict Form Entries</h5>
    <button type="button" class="close" data-dismiss="modal" (click)="activeModal.close('close')" title="Close">&times;</button>
  </div>
  <div class="modal-body">
    <div class="row p-3">
      <div class="col-md-12 text-right mt-4 mb-3">
        <button (click)="openAddUserPermissionModal()" type="button" data-dismiss="modal" data-toggle="modal" data-target="#user-provide-form-permissions-modal" class="btn btn-bf btn-sm" title="Add User">
          Add User
        </button>
      </div>
      <div class="col-md-12">
        <table class="table table-borderless text-center border">
          <thead class="thead-light">
            <tr>
              <th class="text-left">User</th>
              <th>View</th>
              <th>Edit</th>
              <th>Delete</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="!userLists">
              <td colspan="5">No user data found</td>
            </tr>
            <tr *ngFor="let userList of userLists">
              <td *ngIf="userList" class="text-left">{{ userList.userEmail }}</td>
              <ng-container *ngIf="userList">
                <td *ngFor="let permissions of userPermissions">
                  <input type="checkbox" id="user-form-{{ permissions.short }}" 
                  [checked]="userList.permissions.indexOf(permissions.value) > -1 ? true : null" 
                  [disabled]="(!isEditMode || isEditMode != userList.id)"
                  (change)="onCheckboxChange($event, userList)"
                  value="{{ permissions.value }}"> 
                  <label for="user-form-{{ permissions.short }}"></label>
                </td>
              </ng-container>
              <td *ngIf="userList">
                <span *ngIf="isEditMode != userList.id" (click)="editFormUser(userList)">
                  <i class="material-icons text-dark mr-2" title="Edit">edit</i>
                </span>
                <span *ngIf="(isEditMode && isEditMode == userList.id)" (click)="updateFormUser(userList)">
                  <i class="material-icons text-dark mr-2" title="Update">update</i>
                </span>
                <span (click)="deleteFormUser(userList)">
                  <i class="material-icons text-dark" title="Delete">delete</i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>