<div class="row user-profile-row my-5" style="min-height: 500px;">
    <div class="col-xl-4">
        <!-- Profile picture card-->
        <div class="card mb-4 mb-xl-0">
            <div class="card-header">Profile Picture</div>
            <div class="card-body text-center">
                <!-- Profile picture image-->
                <img class="img-account-profile rounded-circle mb-2" src="assets/images/profile.jpg" *ngIf="!imageSrc" alt="">
                <img class="img-account-profile rounded-circle mb-2" [src]="imageSrc" *ngIf="imageSrc" alt="" style="max-width: 200px; height: 200px;">
                <!-- Profile picture help block-->
                <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                <!-- Profile picture upload button-->
                <span class="file-input-container">
                    <label for="file-upload" class="file-upload-label"> </label>
                    <input #fileupload type="file" name="fileUpload" (change)="fileChangeEvent($event)" accept="image/*" [hidden]="true" />
                    <button (click)="fileupload.click();" class="btn btn-primary btn-bf" type="button">
                        Upload new image
                        <span *ngIf="isImageSubmitted" class="spinner-border spinner-border-sm mr-2"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-xl-8 px-4" id="change-password" role="tabpanel" aria-labelledby="change-password-tab">
        <div class="card mb-4">
            <div class="card-header">Change Password</div>
            <div class="card-body">
                <form [formGroup]="updatePasswordForm">
                    <div class="row gx-3 mb-3">
                        <div class="col-md-12">
                            <label class="mb-1" for="inputFirstName">Old Password</label>
                            <input class="form-control" type="password" formControlName="OldPassword" placeholder="Old Password">
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputLastName">New Password</label>
                            <input class="form-control" type="password" formControlName="Password" placeholder="New Password">
                            <div class="bf-input-validation">
                                <ng-container *ngIf="f.Password.invalid && (f.Password.dirty || f.Password.touched)">
                                    <div *ngIf="f.Password.errors?.required" class="field-error text-right mt-1 pr-2 small">Password is required
                                    </div>
                                    <div *ngIf="f.Password.errors?.pattern" class="field-error text-right mt-1 pr-2 small">Password must contain at least one [A-Z], [a-z], [0-1] and Special character</div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputUseremail">Confirm Password</label>
                            <input class="form-control" type="password" formControlName="confirmPassword" placeholder="Confirm Password">
                            <div class="bf-input-validation">
                                <ng-container *ngIf="f.confirmPassword.invalid && (f.confirmPassword.dirty || f.confirmPassword.touched)">
                                    <div *ngIf="f.confirmPassword.errors?.required || f.confirmPassword.errors?.pattern" class="field-error text-right mt-1 pr-2 small">Confirm Password is required
                                    </div>
                                </ng-container>
                                <div class="field-error text-right mt-1 pr-2 small" *ngIf="f.confirmPassword.errors?.passwordNotMatched || matchPass()">
                                    Confirm Password is not matched
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-bf" [disabled]="updatePasswordForm.invalid || matchPass()" (click)="updatePassword()" type="button" title="Save changes">
                        Save changes
                        <span *ngIf="isFormSubmitted" class="spinner-border spinner-border-sm mr-2"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>