<ng-container *ngIf="dataLoaded && !needLogin; else notLoaded">
    <div class="container px-5 my-5 shadow bg-white">
        <h2 class="text-center form-heading py-3">{{formDetail.name}}</h2>
        test
        <app-exported-form [levelDetails]="levelDetails" (inputUpdateEvent)="inputUpdateEventHandler($event)" [isPublishPage]="true" [elements]="elements" [initial]="paymentDetails" [payments]="payments" [config]="formDetail">
        </app-exported-form>
    </div>
</ng-container>
<ng-template #notLoaded>
    <ng-container *ngIf="needLogin; else elseTemplate">
        Need Login
    </ng-container>
    <ng-template #elseTemplate>
    It's Loading
    </ng-template>
    
</ng-template>



<!-- <button type="submit" class="btn btn-bf btn-md" (click)="submitParentForm('parentForm')">Submit</button> -->