.exported-form-container {
    background-color: #fff;
}


.exported-form-container .ngx-dnd-container {
    background-color: transparent !important;
}

.exported-form-container .ngx-dnd-containe .ngx-dnd-item {
    background-color: transparent !important;
}