<div class="my-5 px-5 subscription-wrap" *ngIf="!showPlanPage">
    <div *ngIf="userPlanData" class="subscription-box row ">
        <div class="col-md-12">
            <h4 class="main-title border-bottom pb-3 mb-3">Your current plan and usage</h4>
        </div>
        <!--Subscription Area Left Column-->
        <div class="left-column col-md-4 p-5 border-right d-flex justify-content-center flex-wrap align-content-center">
            <div class="selected-plan-wrapper shadow-sm row rounded border text-center">
                <div class="plan-name-wrapper col-md-12 py-5 text-white-50 rounded-top">
                    <div class="plan-name">
                        <h4 class="mb-n2"><strong>{{ planDetail.name }}</strong></h4>
                    </div>
                </div>
                <div class="plan-price-wrapper col-md-12 py-4 border-bottom">
                    <div class="plan-price">
                        <h4><strong>US$</strong> {{ planDetail.price }}</h4>
                    </div>
                    <div class="plan-period mt-n2 text-secondary">amount / month</div>
                </div>
                <div class="col-md-12 p-2">
                    <div class="plan-attributes-wrapper row px-2 py-4">
                        <div class="plan-attribute col-md-12 py-1">
                            <span>{{ planDetail.noOfUsers }}</span><span class="text-secondary"> Users</span>
                        </div>
                        <div class="plan-attribute col-md-12 py-1">
                            <span>{{ planDetail.noOfForms }}</span><span class="text-secondary"> Forms</span>
                        </div>
                        <div class="plan-attribute col-md-12 py-1">
                            <span>{{ planDetail.noOfEntries }}</span><span class="text-secondary"> Entries</span>
                        </div>
                        <div class="plan-attribute col-md-12 py-1">
                            <span>{{ planDetail.storageSize }} GB</span><span class="text-secondary"> Storage</span>
                        </div>
                        <div class="plan-price-button col-md-12 mt-3" *ngIf="planPermissions.canEdit">
                            <button type="button" (click)="planChange()" class="btn btn-bf btn-sm">Change Plan</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Subscription Details Area Right Column-->
        <div class="right-column col-md-8  p-5">
            <div class="right-column-top row px-3 pt-3">
                <div class="usage-details">
                    <h4 class="card-title pricing-card-title">Plan Usage</h4>
                    <ul class="list-unstyled list-group list-group-flush mt-3 mb-4">
                        <li class="list-group-item list-group-item-action">
                            Consumed <strong>{{ userPlanData.noOfUsers }}</strong> Users
                        </li>

                        <li class="list-group-item list-group-item-action">
                            Consumed <strong>{{ userPlanData.noOfForms }}</strong> Forms
                        </li>
                        <li class="list-group-item list-group-item-action">
                            Consumed <strong>{{ userPlanData.noOfEntries }}</strong> Entries
                        </li>
                        <li class="list-group-item list-group-item-action">
                            Consumed <strong>{{ userPlanData.storageSize }}</strong> Storage
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="main-title border-bottom pb-3 my-5">Your current plan and usage</h4>
        </div>
        <table class="table table-borderless text-center border">
            <thead class="thead-light">
                <tr>
                    <th class="text-left">Plan Terms</th>
                    <th>Price</th>
                    <th>Payment Date</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Payment Status</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let payment of paymentHistory; let i = index">
                    <td>{{payment.name}}<br /> {{payment.noOfUsers}} {{'USERS'}},{{payment.noOfForms}}
                        {{'Forms'}},{{payment.noOfEntries}} {{'ENTRIES'}}, {{payment.storageSize}}
                        {{'Storage'}}</td>
                      <td>$ {{payment.amount}}</td>
                      <td>{{payment.paymentDate | date : 'dd-MMM-yyyy'}}</td>
                      <td>{{payment.planStartDate | date : 'dd-MMM-yyyy'}}</td>
                      <td>{{payment.planEndDate | date : 'dd-MMM-yyyy'}}</td>
                      <td>{{payment.paymentStatus}}</td>
                      <td>
                        <button class="btn btn-primary" (click)="download(payment,i)" translate>Invoice</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <span class="noRecord" *ngIf="paymentHistory == undefined || paymentHistory.length == 0" translate>No Payment History Found.....</span>
    </div>
</div>
<div class="my-5 px-5 subscription-wrap" *ngIf="showPlanPage">
    <div class="login-box border rounded-lg" *ngIf="showPlanPage">
        <div class="container py-3">
            <div class="p-3 m-n3 overflow-hidden">
                <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let plan of masterPlans">
                        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
                            <div class="selected-plan-wrapper shadow-sm row no-gutters rounded border text-center">
                                <div class="plan-name-wrapper col-md-12 py-5 text-white-50 rounded-top">
                                    <div class="plan-name">
                                        <h4 class="mb-n2"><strong>{{ plan.name }}</strong></h4>
                                    </div>
                                </div>
                                <div class="plan-price-wrapper col-md-12 py-4 border-bottom">
                                    <div class="plan-price">
                                        <h4><strong>US$</strong> {{ plan.price }}</h4>
                                    </div>
                                    <div class="plan-period mt-n2 text-secondary">amount / month</div>
                                </div>
                                <div class="col-md-12 p-2">
                                    <div class="plan-attributes-wrapper row px-2 py-4">
                                        <div class="plan-attribute col-md-12 py-1">
                                            <span>{{ plan.noOfUsers }}</span><span class="text-secondary"> Users</span>
                                        </div>
                                        <div class="plan-attribute col-md-12 py-1">
                                            <span>{{ plan.noOfForms }}</span><span class="text-secondary"> Forms</span>
                                        </div>
                                        <div class="plan-attribute col-md-12 py-1">
                                            <span>{{ plan.noOfEntries }}</span><span class="text-secondary"> Entries</span>
                                        </div>
                                        <div class="plan-attribute col-md-12 py-1">
                                            <span>{{ plan.storageSize }} {{ plan.storageUnit }}</span><span class="text-secondary"> Storage</span>
                                        </div>
                                        <div class="plan-price-button col-md-12 mt-3">
                                            <button type="button" (click)="updateSelectedPlan(plan)" class="btn btn-bf btn-sm">Change Plan</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
</div>