<div class="hero-banner container-fluid py-4 bg-light mb-4 border-bottom">
    <div class="container py-4">
        <h2>Organizations</h2>
    </div>
</div>
<div class="organizations-container container">
    <div class="search-wrapper">
        <div class="form-group has-search mb-5">
            <!-- <input type="text" class="form-control" placeholder="Search Organization" [(ngModel)]="searchedString" (ngModelChange)="searchWorkSpace($event)"> -->
            <input id="typeahead-basic" type="text" class="form-control" placeholder="Search Organization" [ngbTypeahead]="search" [inputFormatter]="formatter" [resultFormatter]="formatter" [editable]="false" (selectItem)="selectOrgItem($event)" />
        </div>
    </div>
    <div class="organization-controls-wrapper d-flex flex-wrap justify-content-between mb-5">
        <div class="add-organization-wrapper">
            <a (click)="goToManageWorkSpaces('add', '')">
                <button type="button" id="add-form" class="btn btn-bf btn-sm" data-toggle="modal" title="Add New Organization">Add Organization</button>
            </a>
        </div>
    </div>
    <div class="organization-wrapper row mb-5 overflow-auto" id="organizationWrapper">
        <div class="organization-list col-md-12 border rounded">
            <ng-container *ngFor="let organization of organizationLists">
                <div *ngIf="permissions.canView" [style.display]="searchedString.length === 0 ? 'block' : !organization.name?.toLowerCase()?.includes(searchedString?.trim()?.toLowerCase()) ? 'none' : 'block'">
                    <div class="organization-list-item row p-3 border-bottom justify-content-end align-items-center">
                        <div class="organization-img-wrapper col-md-1">
                            <img src="assets/images/pepsi.png" class="workspace-img" alt="" title="" width="30" height="30" *ngIf="!organization.logo">
                            <img src="data:image/{{organization.logoExt}};base64,{{organization.logo}}" class="workspace-img" alt="" title="" width="30" height="30" *ngIf="organization.logo">
                        </div>
                        <div class="organization-title-wrapper col-md-8">
                            <span clss="organization-name" (click)="goToManageWorkSpaces('edit', organization.id)" role="link">{{ organization.name }}</span>
                            <span *ngIf="organization.id == selectedWorkspaceId">( Default )</span>
                        </div>
                        <div class="organization-actions-wrapper col-md-3 d-flex d-wrap justify-content-end align-items-center">
                            <button *ngIf="organization.isOrganizationAdmin" [disabled]="!organization.recurringPayment" (click)="UnSubscribePlan(organization.stripeSubscriptionId)" [ngClass]="{unsubscribed: !organization.recurringPayment }" class="btn animate-mat" title="Unsubscribe">
                                <i class="material-icons"> domain_disabled </i>
                            </button>
                            <button *ngIf="IsSuperAdmin" class="btn animate-mat" title="Redirect">
                                <i class="material-icons-round mr-3 text-dark"> open_in_browser </i>
                            </button>
                            <a *ngIf="permissions.canEdit" (click)="goToManageWorkSpaces('edit', organization.id)" title="Edit">
                                <i class="material-icons-round mr-3 text-dark">edit</i>
                            </a>
                            <a *ngIf="(organization.id != userInfo.WorkspaceId && permissions.canDelete) || IsSuperAdmin" (click)="deleteUserOrganization(organization)" title="Delete">
                                <i class="material-icons-round text-dark">delete</i>
                            </a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

       

        <div class="has-text-centered w-100 my-5 d-flex justify-content-center bd-highlight mb-3">
         
            <ngb-pagination [collectionSize]="totalOrgCount" [(page)]="p" aria-label="Default pagination" [disabled]="isLoading" (pageChange)="getPage($event)" [hidden]="!showPagination"></ngb-pagination>
        </div>
        <div class="text-center w-100 mb-5" *ngIf="isLoading">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        
    </div>
</div>

