.ngx-input {
    margin: 0;
    .ngx-input-wrap {
        margin: 0;
    }
}

>*>.ngx-dnd-container {
    min-height: 400px;
}

.ngx-dnd-container {
    background-color: white;
    // justify-content: space-between;
    flex-flow: row wrap;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    background-color: white;
    padding: 0;
    min-height: 60px;
    border: 0px;
    .gu-unselectable &,
    &.gu-over,
    &.gu-over .ngx-dnd-container {
        border: 1px dashed orange;
    }
    .ngx-dnd-item {
        background-color: white;
        margin: 5px 1%;
        border: 1px solid transparent;
        // flex: 1 1 100%;
        box-sizing: border-box;
        -webkit-box-flex: 1;
        max-width: 100%;
        &.half {
            flex: 1 1 48%;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            max-width: 48%;
            max-height: 100%;
            padding: 0 5px 5px 5px;
        }
        &.small {
            flex: 1 1 23%;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            max-width: 23%;
            max-height: 100%;
            padding: 0 5px 5px 5px;
        }
        &.medium {
            flex: 1 1 46%;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            max-width: 46%;
            max-height: 100%;
            padding: 0 5px 5px 5px;
        }
        &.large {
            flex: 1 1 69%;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            max-width: 69%;
            max-height: 100%;
            padding: 0 5px 5px 5px;
        }
        &.extra-large {
            flex: 1 1 92%;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            max-width: 92%;
            max-height: 100%;
            padding: 0 5px 5px 5px;
        }
        label {}
        input {}
    }
    .ngx-dnd-item.gu-transit,
    .ngx-dnd-item:hover {
        //border: 1px solid #1786e9
    }
}

.small {
    flex: 1 1 23%;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    max-width: 23%;
    max-height: 100%;
    padding: 0 5px 5px 5px;
}

.medium {
    flex: 1 1 46%;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    max-width: 46%;
    max-height: 100%;
    padding: 0 5px 5px 5px;
}

.large {
    flex: 1 1 69%;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    max-width: 69%;
    max-height: 100%;
    padding: 0 5px 5px 5px;
}

.extra-large {
    flex: 1 1 92%;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    max-width: 92%;
    max-height: 100%;
    padding: 0 5px 5px 5px;
}

input {
    width: 100%;
}

#form-publish-sidebar {
    background-color: #fff;
}

.form-builder-sidebar .nav-tabs .nav-item .nav-link.active {
    color: #f04564;
    border-color: #fff #fff #f04564 #fff;
}

.form-builder-sidebar .nav-tabs .nav-item .nav-link:focus,
.form-builder-sidebar .nav-tabs .nav-item .nav-link:hover {
    border-color: #fff #fff #f04564 #fff;
}

.form-builder-sidebar.nav-tabs .nav-item .nav-link {
    border-width: 2px;
    color: #495057;
}

#form-publish-sidebar.nav-tabs .nav-item .nav-link.active {
    color: #f04564;
    border-color: #fff #fff #f04564 #fff;
}

#form-publish-sidebar.nav-tabs .nav-item .nav-link:focus,
#form-publish-sidebar.nav-tabs .nav-item .nav-link:hover {
    border-color: #fff #fff #f04564 #fff;
}

#form-publish-sidebar.nav-tabs .nav-item .nav-link {
    border-width: 2px;
    color: #495057;
}

.p-right {
    right: 16px;
    position: absolute;
}

.field-disabled {
    opacity: 0.6;
    pointer-events: none;
}

.level-section {

}

.file-list {
    display: flex;
    justify-content: space-between;
}

.disabled {
    background-color: #e9ecef;
    opacity: 1;
    cursor: default;
    pointer-events: none;
}

.non-clickable {
    pointer-events: none;
}