<div class="" tabindex="-1" id="edit-account-setting-modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form class="organization-account-add" [formGroup]="referFriendForm" autocomplete="off">
                <div class="modal-header">
                    <h5 class="modal-title">{{ modalTitle }}</h5>
                    <button type="button" (click)="closePopup()" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row my-4 px-4 form-group">
                        <div class="col-md-12">Send an email to your friends or colleages to let them know about Blaze Forms. We'll automatically include your unique referral link.</div>
                    </div>
                    <div class="row my-4 px-4 form-group">
                        <div class="col-md-3">
                            <label for="account-name">From <span style="color: red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <input type="email" readonly formControlName="DefaultReplyEmail" class="form-control" id="default-email" placeholder="Default Email">
                        </div>
                        <ng-container *ngIf="f.DefaultReplyEmail.invalid && (f.DefaultReplyEmail.dirty || f.DefaultReplyEmail.touched)">
                            <div *ngIf="f.DefaultReplyEmail.errors?.required || f.DefaultReplyEmail.errors?.pattern" class="field-error text-right mt-1 pr-2 small">Eamil is required
                            </div>
                        </ng-container>
                    </div>
                    <div class="row my-4 px-4 form-group">
                        <div class="col-md-3">
                            <label for="account-name">To <span style="color: red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <input type="email" formControlName="ToEmail" class="form-control" id="to-email" placeholder="To Email">
                        </div>
                        <ng-container *ngIf="f.ToEmail.invalid && (f.ToEmail.dirty || f.ToEmail.touched)">
                            <div *ngIf="f.ToEmail.errors?.required || f.ToEmail.errors?.pattern" class="field-error text-right mt-1 pr-2 small">To Eamil is required
                            </div>
                        </ng-container>
                    </div>
                    <div class="row my-4 px-4 form-group">
                        <div class="col-md-3">
                            <label for="account-name">Subject <span style="color: red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" formControlName="Subject" class="form-control" id="subject" placeholder="Subject">
                        </div>
                        <ng-container *ngIf="f.Subject.invalid && (f.Subject.dirty || f.Subject.touched)">
                            <div *ngIf="f.Subject.errors?.required || f.Subject.errors?.pattern" class="field-error text-right mt-1 pr-2 small">Subject is required
                            </div>
                        </ng-container>
                    </div>
                    <div class="row my-4 px-4 form-group">
                        <div class="col-md-3">
                            <label for="account-name">Message <span style="color: red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" formControlName="Message" class="form-control" id="message" placeholder="Message">
                        </div>
                        <ng-container *ngIf="f.Message.invalid && (f.Message.dirty || f.Message.touched)">
                            <div *ngIf="f.Message.errors?.required || f.Message.errors?.pattern" class="field-error text-right mt-1 pr-2 small">Message is required
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" (click)="closePopup()" class="btn btn-link btn-sm text-bf" data-dismiss="modal" title="Close">Close</button>
                    <button type="button" [disabled]="referFriendForm.invalid" (click)="submit()" class="btn btn-bf btn-sm" title="Send">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>