<div class="login-area-container container d-flex align-items-center justify-content-center">
    <div class="login-box row border rounded-lg">
        <!--Login Area Left Column-->
        <div class="left-column col-md-5 p-4 border-right d-flex justify-content-center flex-wrap align-content-center">
            <img class="login-image" src="assets/images/reset-password.png">
        </div>
        <!--Login Area Right Column-->
        <div class="right-column col-md-7">
            <div class="right-column-top row p-3">
                <div class="login-heading-wrapper col-md-12 py-3 text-center">
                    <h2 class="login-heading">Reset Password</h2>
                </div>
                <div class="forgot-password-fields-wrapper col-md-12 mt-4 px-5">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="material-icons">lock</i></span>
                        </div>
                        <input [formControl]="password" type="password" class="form-control rounded-sm" id="password" placeholder="Enter your new password">
                        <ng-container *ngIf="password.invalid && (password.dirty || password.touched)">
                            <div *ngIf="password.errors?.required" class="field-error text-right mt-1 pr-2 small w-100">Password is required</div>
                        </ng-container>
                        <div *ngIf="password.errors?.pattern" class="field-error text-right mt-1 pr-2 small">
                            Password must contains at least each of [A-Z], [a-z], [0-9] and special character
                        </div>
                    </div>
                </div>
                <div class="forgot-password-fields-wrapper col-md-12 mt-4 px-5">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="material-icons">lock</i></span>
                        </div>
                        <input [formControl]="confirmPassword" type="password" class="form-control rounded-sm" id="confirmPassword" placeholder="Confirm Password">
                        <ng-container *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                            <div *ngIf="confirmPassword.errors?.required" class="field-error text-right mt-1 pr-2 small w-100">Confirm password is required</div>
                        </ng-container>
                        <div *ngIf="confirmPassword.errors?.passwordNotMatched || ((confirmPassword.dirty || confirmPassword.touched) && confirmPassword.value !== password.value)" class="field-error text-right mt-1 pr-2 small">
                            Confirm Password not matched with password
                        </div>
                    </div>
                </div>
                <div class="login-button-wrapper col-md-12 mt-5 mb-2 px-5">
                    <button (click)="submit()" type="button" [disabled]="password.invalid || confirmPassword.value !== password.value || confirmPassword.invalid || confirmPassword.errors?.required || confirmPassword.errors?.passwordNotMatched" class="login-button btn btn-bf btn-block py-2">
                        <span *ngIf="isFormSubmitted" class="spinner-border spinner-border-sm mr-2"></span>
                        Submit
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center flex-wrap align-content-center py-4 mt-4 border-top">
                    <span class="create-account-link-area">
                        No account yet? 
                        <a class="create-account-link" [routerLink]="['../register']">Create account</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>