<div class="forgot-password-container box-container container d-flex align-items-center justify-content-center">
    <div class="login-box row border rounded-lg">
        <!--Login Area Left Column-->
        <div [class]="isSuccessPage ? 'd-none' : 'd-flex'" class="left-column col-md-5 p-4 border-right justify-content-center flex-wrap align-content-center">
            <img class="login-image" src="assets/images/forgot-password-vector.png">
        </div>
        <!--Login Area Right Column-->
        <div [class]="isSuccessPage ? 'd-none' : ''" class="right-column col-md-7">
            <div class="right-column-top row p-3">
                <div class="login-heading-wrapper col-md-12 py-3 text-center">
                    <h2 class="login-heading">Forgot Password</h2>
                </div>
                <div class="forgot-password-fields-wrapper col-md-12 mt-4 px-5">
                    <form (keyup.enter)="!email.invalid && submit()">
                        <div class="form-group">
                            <label for="email" class="ml-1">Email</label>
                            <input [formControl]="email" type="email" class="form-control rounded-sm" id="email" placeholder="Enter your email address">
                            <div class="bf-input-validation">
                                <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
                                    <div *ngIf="email.errors?.required || email.errors?.pattern" class="field-error text-right mt-1 pr-2 small">Email is required</div>
                                </ng-container>
                                <div *ngIf="email.errors?.emailNotExists" class="field-error text-right mt-1 pr-2 small">
                                    Email not found
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="login-button-wrapper col-md-12 mt-1 mb-5 px-5">
                    <button (click)="submit()" type="button" [disabled]="email.invalid || email.errors?.required || email.errors?.pattern" class="login-button btn btn-bf btn-block py-2">
                        <span *ngIf="isFormSubmitted" class="spinner-border spinner-border-sm mr-2"></span>
                        Submit
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center flex-wrap align-content-center py-4 mt-4 border-top">
                    <span class="create-account-link-area">
                        No account yet? 
                        <a class="create-account-link" [routerLink]="['../register']">Create account</a>
                    </span>
                </div>
            </div>
        </div>
        <!--Login Area Left Column-->
        <div [class]="!isSuccessPage ? 'd-none' : 'd-flex'" class="left-column col-md-5 p-4 border-right  justify-content-center flex-wrap align-content-center">
            <img class="login-image" src="assets/images/email-sent.png">
        </div>
        <!--Login Area Right Column-->
        <div [class]="!isSuccessPage ? 'd-none' : ''" class="right-column col-md-7">
            <div class="right-column-top row p-3">
                <div class="email-sent-heading-wrapper col-md-12 py-3 text-center">
                    <h2 class="login-heading">Email Sent</h2>
                </div>
                <div class="email-sent-image-wrap col-md-12 mt-4 px-5">
                    <img class="mx-auto d-block img" src="../../../assets/svg/email-sent-icon.svg">
                </div>

                <div class="email-sent-image-wrap col-md-12 mt-4 px-5">
                    <p class="text-center">An email has been sent to your registered email ID. Please follow the link provided in email message.</p>
                </div>

                <div class="email-sent-image-wrap col-md-12 mt-4 px-5">
                    <p class="text-center"><a [routerLink]="['../login']"> Click here </a> to go back to login page.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center flex-wrap align-content-center py-4 mt-4 border-top">
                    <span class="create-account-link-area">
                            No account yet? 
                        <a class="create-account-link" [routerLink]="['../register']">Create account</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>