
.mat-tree-node {
    display: flex;
    align-items: center;
    flex: 1;
    word-wrap: break-word;
}

.mat-tree-node {
    min-height: 20px;
}

.folder-tree-wrap > .folder-tree-node {
    max-height: 130px;
}


.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    overflow: visible;
}

.mat-button, .mat-icon-button, .mat-stroked-button {
    color: inherit;
    background: transparent;
}

.mat-button-ripple.mat-ripple, .mat-button-focus-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    border-radius: inherit;
}