<!--add form Modal-->
<div class="" tabindex="-1" id="add-form-workflow-modal">

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" *ngIf="viewMainSection">New Form</h5>
            <h5 class="modal-title" *ngIf="!viewMainSection && viewFormsList === 'Form'">Copy Existing Form</h5>
            <h5 class="modal-title" *ngIf="!viewMainSection && viewFormsList === 'WorkFlow'">Copy Existing Workflow</h5>
            <button type="button" class="close" data-bs-dismiss="modal" (click)="activeModal.close('close')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

        </div>
        <div class="modal-body">
            <ng-container *ngIf="viewMainSection">
                <div class="row py-3">
                    <div class="col-md-6 d-flex d-wrap justify-content-center align-content-center py-5">
                        <div class="add-form-area text-center">
                            <button type="button" class="btn btn-bf btn-sm mb-2" data-bs-dismiss="modal" (click)="openEdit('Form')">Add
                                    Form</button>
                            <div>Or</div>
                            <div ><a href="#" (click)="viewFormsList = 'Form';viewMainSection = false" class="">Copy Existing Form </a></div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex d-wrap justify-content-center align-content-center py-5">
                        <div class="add-form-area text-center">
                            <button type="button" class="btn btn-bf btn-sm mb-2" (click)="openEdit('WorkFlow')">Add Workflow</button>
                            <div>Or</div>
                            <div><a  href="#" (click)="viewFormsList = 'WorkFlow';viewMainSection = false">Copy Existing Workflow</a></div>
                        </div>
                    </div>
                </div>
                <div class="choose-template-area row border-top pt-3">
                    <div class="col-md-12 text-center">
                        <h6>Choose from a template</h6>
                    </div>
                    <div class="col-md-12 template-cards">
                        <div class="row pt-3 g-2">
                            <div class="col-md-3">
                                <div class="card text-center">
                                    <img src="assets/images/form.png" class="card-img" alt="...">
                                    <div class="card-img-overlay bg-bf-light">
                                        <b class="card-title">Template Title</b>
                                        <p class="card-text small text-secondary">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <button type="button" class="btn btn-bf btn-sm">Use Template</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card text-center">
                                    <img src="assets/images/form.png" class="card-img" alt="...">
                                    <div class="card-img-overlay">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card text-center">
                                    <img src="assets/images/form.png" class="card-img" alt="...">
                                    <div class="card-img-overlay">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card text-center">
                                    <img src="../../../assets/images/form.png" class="card-img" alt="...">
                                    <div class="card-img-overlay">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container  *ngIf="viewFormsList && !viewFormDesign">
                <div class="forms-list col-md-12 border rounded form-list">
                    <ng-container *ngFor="let form of formsList">
                        <div *ngIf="viewFormsList === form.formType" class="form-list-item row p-3 border-bottom" >
                            <span (click)="viewForm(form)" role="button">{{form.name}}</span>
                            <span data-toggle="tooltip" title="Copy"  style="position: absolute; right: 100px;" (click)="copy(form)" role="button">
                                <i class="material-icons">content_copy</i>
                            </span>
                            <span style="position: absolute; right: 50px;"(click)="viewForm(form)" role="button" data-toggle="tooltip" title="View" > <i class="material-icons">visibility</i></span>
                        </div>
                    </ng-container>
                    
                    
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-link btn-sm text-bf" (click)="viewFormsList = null;viewMainSection = true">Back</button>
                </div>
            </ng-container>
            <ng-container  *ngIf="viewFormDesign">
                <div class="forms-list col-md-12 border rounded form-list">
                    <iframe [src]="FormUrl()" width="700px" height="480px"
                    frameborder="0"></iframe>
                </div>
                
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-link btn-sm text-bf" (click)="viewFormDesign = false">Back</button>
                    <button type="button" class="btn btn-bf btn-sm" (click)="copyFromDesign()">Copy</button>
                </div>
            </ng-container>
            

        </div>
    </div>

</div>
<!--add form Modal End-->