<app-manage-work-spaces-header></app-manage-work-spaces-header>
<div class="hero-banner container-fluid py-4 bg-light mb-4 border-bottom">
    <div class="container py-4">
        <h2>Organizations</h2>
    </div>
</div>
<div class="manage-organization-container container">
    <div class="organization-wrapper row mb-5">
        <div class="col-sm-12">
            <ul class="nav nav-tabs justify-content-start " id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link p-3 px-4 active" id="add-organization-tab" data-toggle="tab" href="#add-organization" role="tab" aria-controls="home" aria-selected="true">General</a>
                </li>
            </ul>
            <div class="tab-content px-4" id="add-organization-tabs">
                <div class="tab-pane fade show active" id="add-organization" role="tabpanel" aria-labelledby="add-organization-tab">
                    <div class="my-5 add-organization-wrap">

                        <div class="login-area-container container d-flex align-items-center justify-content-center">
                            <div class="login-box row border rounded-lg">

                                <!--Login Area left Column-->
                                <div class="left-column col-md-8">
                                    <div class="left-column-top row px-3 pt-3">
                                        <div class="register-heading-wrapper col-md-12 py-3 text-left">
                                            <h4 class="register-heading">Add Orgnization</h4>
                                        </div>

                                        <div class="register-form col-md-12 mb-3">
                                            <div class="register-fields-wrapper row mb-3">
                                                <div class="field-wrapper col-md-6">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="material-icons">person</i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="First Name">
                                                    </div>
                                                </div>
                                                <div class="field-wrapper col-md-6">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="material-icons">person</i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Last Name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="register-fields-wrapper row mb-3">
                                                <div class="field-wrapper col-md-6">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="material-icons">email</i>
                                                            </span>
                                                        </div>
                                                        <input type="email" class="form-control" placeholder="Your Email">
                                                    </div>
                                                </div>
                                                <div class="field-wrapper col-md-6">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="material-icons">smartphone</i>
                                                            </span>
                                                        </div>
                                                        <input type="tel" class="form-control" placeholder="Your Phone">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="register-fields-wrapper row mb-3">
                                                <div class="field-wrapper col-md-6">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="material-icons">password</i>
                                                            </span>
                                                        </div>
                                                        <input type="password" class="form-control" placeholder="Choose Password">
                                                    </div>
                                                </div>
                                                <div class="field-wrapper col-md-6">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="material-icons">password</i>
                                                            </span>
                                                        </div>
                                                        <input type="password" class="form-control" placeholder="Confirm Password">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="register-fields-wrapper row mb-3">
                                                <div class="field-wrapper col-md-12">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="material-icons">apartment</i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Your Organization Name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="register-fields-wrapper row mb-3">
                                                <div class="terms-conditions-wrapper col-md-12 my-3 text-center">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                                        <label class="custom-control-label" for="customCheck">I have read and accepted <a href="#">Terms &#38; Conditions</a></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="register-fields-wrapper row mb-3">
                                                <div class="terms-conditions-wrapper col-md-12 mb-3 text-center">
                                                    <button type="button" class="btn btn-bf">Add Organization</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--Login Area right Column-->
                                <div class="right-column col-md-4 p-5 border-left d-flex justify-content-center flex-wrap align-content-center">
                                    <div class="selected-plan-wrapper shadow-sm row rounded border text-center">
                                        <div class="plan-name-wrapper col-md-12 py-5 text-white-50 rounded-top">
                                            <div class="plan-name">
                                                <h4 class="mb-n2"><strong>Value</strong></h4>
                                            </div>
                                        </div>
                                        <div class="plan-price-wrapper col-md-12 py-4 border-bottom">
                                            <div class="plan-price">
                                                <h4><strong>US$</strong> 196</h4>
                                            </div>
                                            <div class="plan-period mt-n2 text-secondary">amount / month</div>
                                        </div>
                                        <div class="col-md-12 p-2">
                                            <div class="plan-attributes-wrapper row px-2 py-4">
                                                <div class="plan-attribute col-md-12 py-1">
                                                    <span>4</span><span class="text-secondary"> Users</span>
                                                </div>
                                                <div class="plan-attribute col-md-12 py-1">
                                                    <span>500</span><span class="text-secondary"> Forms</span>
                                                </div>
                                                <div class="plan-attribute col-md-12 py-1">
                                                    <span>2500</span><span class="text-secondary"> Entries</span>
                                                </div>
                                                <div class="plan-attribute col-md-12 py-1">
                                                    <span>1 GB</span><span class="text-secondary"> Storage</span>
                                                </div>
                                                <div class="plan-price-button col-md-12 mt-3">
                                                    <button type="button" class="btn btn-bf btn-sm">Change Plan</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<app-manage-work-spaces-footer></app-manage-work-spaces-footer>