.organization-wrapper .nav-tabs .nav-link {
    color: #495057;
    border-width: 2px;
    border-color: #fff #fff transparent #fff;
}

.organization-wrapper .nav-tabs .nav-link:hover {
    color: #f04564;
    border-color: #fff #fff #f04564 #fff;
}

.organization-wrapper .nav-tabs .nav-link.active {
    color: #f04564;
    border-color: #fff #fff #f04564 #fff;
}