<div class="my-5 px-5 branding-organization-wrap">
    <div class="organization-branding row">
        <div class="col-md-6">
            <div class="mb-3 mt-3">
                <form autocomplete="off">
                    <h2 class="mb-3" style="font-weight: 300">Upload </h2>
                    <div class="form-group mb-3">
                        <div class="custom-file">
                            <input type="file" [formControl]="Image" class="custom-file-input" name="Image" id="file_input" (change)="onFileChange($event)" accept="image/*">
                            <label id="file_input_label" class="custom-file-label" for="image">Select file</label>
                        </div>
                    </div>
                    <button id="upload_btn" [disabled]="!fileSource" class="btn btn-primary btn-bf" (click)="submit()">Upload</button>
                    <button class="btn btn-primary d-none" id="loading_btn" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Uploading...
                    </button>
                    <button type="button" id="cancel_btn" class="btn btn-secondary d-none">Cancel upload</button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="preview-brandig text-center ">
                <img [src]="imageSrc" *ngIf="imageSrc" class="col d-flex align-items-center justify-content-center">
            </div>
        </div>
    </div>
</div>