<div class="hero-banner container-fluid py-4 bg-light mb-4 border-bottom">
    <div class="container py-4">
        <h2>Forms</h2>
    </div>

</div>
<div class="forms-container container">
    <div class="search-wrapper">
        <div class="form-group has-search mb-5">
            <input type="text" [(ngModel)]="searchedString" class="form-control" placeholder="Search Forms">
        </div>

    </div>
    <div class="forms-controls-wrapper d-flex flex-wrap justify-content-between mb-5" *ngIf="formPermissions.canView">
        <div class="add-form-wrapper">
            <button type="button" (click)="open()" id="add-form" class="btn btn-bf btn-sm">
                Add Form
            </button>
        </div>
        <div class="forms-filters-wrapper">
            <i class="material-icons mr-3" role="button" data-toggle="tooltip" title="Delete" [ngClass]="{'disabled': selectedForms?.length === 0}" (click)="bulkDelete()">delete</i>
            <i class="material-icons mr-3" role="button" data-toggle="tooltip" title="Archive" [ngClass]="{'disabled': selectedForms?.length === 0}" (click)="bulkMove()">archive</i>
            <i class="material-icons mr-3" role="button" data-toggle="tooltip" title="Move Form" [ngClass]="{'disabled': selectedForms?.length === 0}" (click)="bulkArchive()">drive_file_move</i>
            <i class="material-icons" role="button" data-toggle="tooltip" title="Filter" (click)="viewFilterDropdown = !viewFilterDropdown">filter_alt</i>
            <div class="filter-dropdown bg-white rounded shadow filter-down" *ngIf="viewFilterDropdown">
                <div class="filter-dropdown-top border-bottom mb-2">
                    <div class="filter-dropdown-item py-2 px-5 border-bottom" (click)="selectedFolder = null; viewBy = null; viewFilterDropdown = false;getFormsList(userInfo)">Clear Filter</div>
                    <div class="filter-dropdown-item py-2 px-5" (click)="openAddNewFolderModal(); viewFilterDropdown = false;">Add New Folder</div>
                </div>
                <app-filter-tree *ngIf="folderList" (selectFolderEvent)="selectionChange($event)" [selectedFolder]="selectedFolder" [data]="folderList"></app-filter-tree>
                <div class="filter-dropdown-bottom py-2 text-center">
                    <div class="filter-dropdown-item py-2 px-5" [ngClass]="{'px-4 bg-light': viewBy === 'All Forms'}" (click)="changeViewBy('All Forms'); viewFilterDropdown = false;">
                        <span *ngIf=" viewBy === 'All Forms'" class="material-icons-round selected-item-tick align-bottom text-bf">done</span> All Forms</div>
                    <div class="filter-dropdown-item py-2 px-5 " [ngClass]="{'px-4 bg-light': viewBy === 'StarredForms'}" (click)="changeViewBy('StarredForms'); viewFilterDropdown = false;">
                        <span *ngIf="viewBy === 'StarredForms'" class="material-icons-round selected-item-tick align-bottom text-bf">done</span> Starred
                    </div>
                    <div class="filter-dropdown-item py-2 px-5" [ngClass]="{'px-4 bg-light': viewBy === 'ArchievedForms'}" (click)="changeViewBy('ArchievedForms'); viewFilterDropdown = false;">
                        <span *ngIf="viewBy === 'ArchievedForms'" class="material-icons-round selected-item-tick align-bottom text-bf">done</span> Archived
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="folder-list-with-forms">
        <ng-container *ngFor="let folder of formsList">
            <ng-container *ngIf="!selectedFolder || (!viewBy && selectedFolder && folder.folderId === selectedFolder)">
                <div *ngIf="formPermissions.canView" [style.display]=" searchedString.length === 0 ? 'block' : !folder.childNameList?.toLowerCase()?.includes(searchedString?.trim()?.toLowerCase()) ? 'none' : 'block'" class="forms-folder-wrapper row mb-5">
                    <div class="folder-header col-md-12 mb-2">
                        <span class="folder-icon me-2">
                            <i class="material-icons-outlined">folder</i>
                        </span>
                        <span class="folder-name">
                            {{folder.folderPath}}
                        </span>
                        <span class="ml-1 badge badge-success">
                            {{folder?.forms?.length}}
                        </span>
                    </div>
                    <div class="forms-list col-md-12 border rounded">
                        <ng-container *ngFor="let form of folder?.forms; let folderIndex = index">
                            <ng-container *ngIf="searchedString.length > 0 || (folder?.expanded || (!folder?.expanded && folderIndex < 3))">
                                <div *ngIf=" searchedString.length === 0 || form?.text?.toLowerCase().includes(searchedString?.trim()?.toLowerCase())" [ngClass]="{'bg-bf-light': selectedForms?.includes(form.value)}" class="form-list-item row p-3 border-bottom">
                                    <div class="form-checkbox-wrapper col-md-1">
                                        <label class="p-0 m-0 align-bottom">
                                    <input  type="checkbox">
                                    <span class="form-checkbox-wrap" (click)="selectBulkForms(form)">
                                        <i class="form-checkbox-deactive material-icons-round mr-1 text-dark">check_box_outline_blank</i>
                                        <i class="form-checkbox-active material-icons-round mr-1">check_box</i>
                                    </span>
                                   </label>
                                        <i class="material-icons-round start-style" (click)="enableStarred(form)">{{favs.includes(form.value ? form.value : form.id) ? 'start' : 'star_outline'}}</i>
                                    </div>
                                    <div class="form-title-wrapper col-md-4">
                                        <ng-container *ngIf="formsbyId && enableBuildPublishTab(form,formsbyId); else clickAble">
                                        <span class="form-name" (click)="openbuilder(form, 1)" >{{form.text ? form.text : form.name}}</span>
                                        </ng-container>
                                        <ng-template #clickAble>
                                        <span class="form-name" >{{form.text ? form.text : form.name}}</span>
                                        </ng-template>
                                        
                                    </div>
                                    <div class="form-badges-wrapper col-md-4">
                                        <span *ngIf="formsbyId && enableBuildPublishTab(form,formsbyId)" class="build-badge px-2 py-1 mr-1 rounded-pill small border border-2" role="button" (click)="openbuilder(form, 1)">Build</span>
                                        <span *ngIf="enableBuildPublishTab(form)" class="publish-badge px-2 py-1 mr-1 rounded-pill small border border-2" role="button" (click)="openbuilder(form, 2)">Publish</span>
                                        <span class="entries-badge py-1 mr-1 rounded-pill small border border-2" role="button" (click)="openbuilder(form, 3)">
                                    <span class="pl-2 pr-1">Entries</span>
                                        <!-- <span class="pl-2 pr-1 font-weight-bold text-bf">25</span>-->
                                        </span>
                                        <span class="url-badge px-2 py-1 rounded-pill small border border-2" role="button" (click)="openFormURL(form)">URL</span>
                                    </div>
                                    <div class="form-actions-wrapper col-md-3 d-flex d-wrap justify-content-end">
                                        <i class="material-icons-round mr-3 text-dark" role="button" data-toggle="tooltip" title="Premissions" (click)="openModal(form.value)">people</i>
                                        <i class="material-icons-round mr-3 text-dark" role="button" data-toggle="tooltip" title="Move Form"  (click)="move(form)">drive_file_move</i>
                                        <i class="material-icons-round mr-3 text-dark" role="button" data-toggle="tooltip" title="Archive" (click)="archive(form)">archive</i>
                                        <i *ngIf="formPermissions.canEdit" role="button" data-toggle="tooltip" title="Edit" (click)="openEdit(form)" class="material-icons-round mr-3 text-dark" data-bs-toggle="modal" data-bs-target="#edit-form-modal">edit</i>
                                        <i *ngIf="formPermissions.canDelete" role="button"  data-toggle="tooltip" title="Delete" (click)="deleteForm(form)" class="material-icons-round text-dark">delete</i>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                    <div class="folder-more col-md-12 py-3" *ngIf="searchedString.length === 0 && folder?.forms?.length > 3">
                        <div class="text-right text-bf">
                            <span class="align-top" *ngIf="!folder.expanded" (click)="folder.expanded = !folder.expanded" role="button">Browse all {{folder?.forms?.length}} forms in this folder</span>
                            <span class="align-top" *ngIf="folder.expanded" (click)="folder.expanded = !folder.expanded" role="button">Hide all forms in this folder</span>
                            <span class="material-icons-round">navigate_next</span>
                        </div>
                    </div>
                </div>
            </ng-container>


        </ng-container>
    </div>


    <!-- <div class="forms-folder-wrapper row mb-5">
        <div class="folder-header col-md-12 mb-3">
            <span class="folder-icon me-2">
                <i class="material-icons-outlined">folder</i>
            </span>
            <span class="folder-name">
                \Root\My Forms
            </span>
        </div>
        <div class="forms-list col-md-12 border rounded">
            <div class="form-list-item row p-3 border-bottom">
                <div class="form-checkbox-wrapper col-md-1">
                    <i class="form-checkbox material-icons-round me-2 text-dark">check_box_outline_blank</i>
                    <i class="material-icons-round">star_outline</i>
                </div>
                <div class="form-title-wrapper col-md-4 text-truncate">
                    <span class="form-name text-break">Form with a very very very very very very very very very long
                        name</span>
                </div>
                <div class="form-badges-wrapper col-md-4">
                    <span class="build-badge px-2 py-1 mr-1 rounded-pill small border border-2">Build</span>
                    <span class="publish-badge px-2 py-1 mr-1 rounded-pill small border border-2">Publish</span>
                    <span class="entries-badge py-1 mr-1 rounded-pill small border border-2">
                        <span class="pl-2 pr-1">Entries</span>
                        <span class="pl-2 pr-1 font-weight-bold text-bf">25</span>
                    </span>
                    <span class="url-badge px-2 py-1 rounded-pill small border border-2">URL</span>
                </div>
                <div class="form-actions-wrapper col-md-3 d-flex d-wrap justify-content-end">
                    <i class="material-icons-round mr-3 text-dark">people</i>
                    <i class="material-icons-round mr-3 text-dark">drive_file_move</i>
                    <i class="material-icons-round mr-3 text-dark">archive</i>
                    <i class="material-icons-round mr-3 text-dark">edit</i>
                    <i class="material-icons-round text-dark">delete</i>
                </div>
            </div>
            <div class="form-list-item row p-3 border-bottom bg-light">
                <div class="form-checkbox-wrapper col-md-1">
                    <i class="form-checkbox material-icons-round me-2 text-dark">check_box_outline_blank</i>
                    <i class="material-icons-round">star_outline</i>
                </div>
                <div class="form-title-wrapper col-md-4">
                    <span clss="form-name">Form Name</span>
                </div>
                <div class="form-badges-wrapper col-md-4">
                    <span class="build-badge px-2 py-1 mr-1 rounded-pill small border border-2">Build</span>
                    <span class="publish-badge px-2 py-1 mr-1 rounded-pill small border border-2">Publish</span>
                    <span class="entries-badge py-1 mr-1 rounded-pill small border border-2">
                        <span class="pl-2 pr-1">Entries</span>
                        <span class="pl-2 pr-1 font-weight-bold text-bf">25</span>
                    </span>
                    <span class="url-badge px-2 py-1 rounded-pill small border border-2">URL</span>
                </div>
                <div class="form-actions-wrapper col-md-3 d-flex d-wrap justify-content-end">
                    <i class="material-icons-round mr-3 text-dark">people</i>
                    <i class="material-icons-round mr-3 text-dark">drive_file_move</i>
                    <i class="material-icons-round mr-3 text-dark">archive</i>
                    <i class="material-icons-round mr-3 text-dark">edit</i>
                    <i class="material-icons-round text-dark">delete</i>
                </div>
            </div>
            <div class="form-list-item row p-3">
                <div class="form-checkbox-wrapper col-md-1">
                    <i class="form-checkbox material-icons-round me-2 text-dark">check_box_outline_blank</i>
                    <i class="material-icons-round">star_outline</i>
                </div>
                <div class="form-title-wrapper col-md-4">
                    <span clss="form-name">Form Name</span>
                </div>
                <div class="form-badges-wrapper col-md-4">
                    <span class="build-badge px-2 py-1 mr-1 rounded-pill small border border-2">Build</span>
                    <span class="publish-badge px-2 py-1 mr-1 rounded-pill small border border-2">Publish</span>
                    <span class="entries-badge py-1 mr-1 rounded-pill small border border-2">
                        <span class="pl-2 pr-1">Entries</span>
                        <span class="pl-2 pr-1 font-weight-bold text-bf">25</span>
                    </span>
                    <span class="url-badge px-2 py-1 rounded-pill small border border-2">URL</span>
                </div>
                <div class="form-actions-wrapper col-md-3 d-flex d-wrap justify-content-end">
                    <i class="material-icons-round mr-3 text-dark">people</i>
                    <i class="material-icons-round mr-3 text-dark">drive_file_move</i>
                    <i class="material-icons-round mr-3 text-dark">archive</i>
                    <i class="material-icons-round mr-3 text-dark">edit</i>
                    <i class="material-icons-round text-dark">delete</i>
                </div>
            </div>
        </div>
    </div>
    <div class="forms-folder-wrapper row mb-5">
        <div class="folder-header col-md-12 mb-3">
            <span class="folder-icon me-2">
                <i class="material-icons-outlined">folder</i>
            </span>
            <span class="folder-name">
                \Root\My Forms
            </span>
        </div>
        <div class="forms-list col-md-12 border rounded">
            <div class="form-list-item row p-3 border-bottom">
                <div class="form-checkbox-wrapper col-md-1">
                    <i class="form-checkbox material-icons-round me-2 text-dark">check_box_outline_blank</i>
                    <i class="material-icons-round">star_outline</i>
                </div>
                <div class="form-title-wrapper col-md-4 text-truncate">
                    <span class="form-name text-break">Form with a very very very very very very very very very long
                        name</span>
                </div>
                <div class="form-badges-wrapper col-md-4">
                    <span class="build-badge px-2 py-1 mr-1 rounded-pill small border border-2">Build</span>
                    <span class="publish-badge px-2 py-1 mr-1 rounded-pill small border border-2">Publish</span>
                    <span class="entries-badge py-1 mr-1 rounded-pill small border border-2">
                        <span class="pl-2 pr-1">Entries</span>
                        <span class="pl-2 pr-1 font-weight-bold text-bf">25</span>
                    </span>
                    <span class="url-badge px-2 py-1 rounded-pill small border border-2">URL</span>
                </div>
                <div class="form-actions-wrapper col-md-3 d-flex d-wrap justify-content-end">
                    <i class="material-icons-round mr-3 text-dark">people</i>
                    <i class="material-icons-round mr-3 text-dark">drive_file_move</i>
                    <i class="material-icons-round mr-3 text-dark">archive</i>
                    <i class="material-icons-round mr-3 text-dark">edit</i>
                    <i class="material-icons-round text-dark">delete</i>
                </div>
            </div>
            <div class="form-list-item row p-3 border-bottom bg-light">
                <div class="form-checkbox-wrapper col-md-1">
                    <i class="form-checkbox material-icons-round me-2 text-dark">check_box_outline_blank</i>
                    <i class="material-icons-round">star_outline</i>
                </div>
                <div class="form-title-wrapper col-md-4">
                    <span clss="form-name">Form Name</span>
                </div>
                <div class="form-badges-wrapper col-md-4">
                    <span class="build-badge px-2 py-1 mr-1 rounded-pill small border border-2">Build</span>
                    <span class="publish-badge px-2 py-1 mr-1 rounded-pill small border border-2">Publish</span>
                    <span class="entries-badge py-1 mr-1 rounded-pill small border border-2">
                        <span class="pl-2 pr-1">Entries</span>
                        <span class="pl-2 pr-1 font-weight-bold text-bf">25</span>
                    </span>
                    <span class="url-badge px-2 py-1 rounded-pill small border border-2">URL</span>
                </div>
                <div class="form-actions-wrapper col-md-3 d-flex d-wrap justify-content-end">
                    <i class="material-icons-round mr-3 text-dark">people</i>
                    <i class="material-icons-round mr-3 text-dark">drive_file_move</i>
                    <i class="material-icons-round mr-3 text-dark">archive</i>
                    <i class="material-icons-round mr-3 text-dark">edit</i>
                    <i class="material-icons-round text-dark">delete</i>
                </div>
            </div>
            <div class="form-list-item row p-3">
                <div class="form-checkbox-wrapper col-md-1">
                    <i class="form-checkbox material-icons-round me-2 text-dark">check_box_outline_blank</i>
                    <i class="material-icons-round">star_outline</i>
                </div>
                <div class="form-title-wrapper col-md-4">
                    <span clss="form-name">Form Name</span>
                </div>
                <div class="form-badges-wrapper col-md-4">
                    <span class="build-badge px-2 py-1 mr-1 rounded-pill small border border-2">Build</span>
                    <span class="publish-badge px-2 py-1 mr-1 rounded-pill small border border-2">Publish</span>
                    <span class="entries-badge py-1 mr-1 rounded-pill small border border-2">
                        <span class="pl-2 pr-1">Entries</span>
                        <span class="pl-2 pr-1 font-weight-bold text-bf">25</span>
                    </span>
                    <span class="url-badge px-2 py-1 rounded-pill small border border-2">URL</span>
                </div>
                <div class="form-actions-wrapper col-md-3 d-flex d-wrap justify-content-end">
                    <i class="material-icons-round mr-3 text-dark">people</i>
                    <i class="material-icons-round mr-3 text-dark">drive_file_move</i>
                    <i class="material-icons-round mr-3 text-dark">archive</i>
                    <i class="material-icons-round mr-3 text-dark">edit</i>
                    <i class="material-icons-round text-dark">delete</i>
                </div>
            </div>
        </div>
    </div> -->
</div>