.disabled {
    opacity: 0.65;
}

.filter-down {
    z-index: 99999;
    position: absolute;
    background: white;
}

.filter-dropdown-top .filter-dropdown-item {
    cursor: pointer;
}

.filter-dropdown-top .filter-dropdown-item:hover {
    background-color: #f8f9fa;
    color: #f04564;
}

.filter-dropdown-folder-list {
    height: 100px;
}

.start-style {
    width: 42%;
    cursor: pointer;
}

.folder-list-with-forms {
    
}

