<div class="registration-area-container box-container container  align-items-center justify-content-center my-5" [ngClass]="{'d-none': showPlanPage, 'd-flex': !showPlanPage }" >
    <div class="login-box row border rounded-lg">
        <!--Login Area Left Column-->
        <div class="left-column col-md-4 p-5 border-right d-flex justify-content-center flex-wrap align-content-center">
            <div class="selected-plan-wrapper shadow-sm row rounded border text-center">
                <div class="plan-name-wrapper col-md-12 py-5 text-white-50 rounded-top">
                    <div class="plan-name">
                        <h4 class="mb-n2"><strong>{{ planDetails.name }}</strong></h4>
                    </div>
                </div>
                <div class="plan-price-wrapper col-md-12 py-4 border-bottom">
                    <div class="plan-price">
                        <h4><strong>US$</strong> {{ planDetails.price }}</h4>
                    </div>
                    <div class="plan-period mt-n2 text-secondary">amount / month</div>
                </div>
                <div class="col-md-12 p-2">
                    <div class="plan-attributes-wrapper row px-2 py-4">
                        <div class="plan-attribute col-md-12 py-1">
                            <span>{{ planDetails.noOfUsers }}</span><span class="text-secondary"> Users</span>
                        </div>
                        <div class="plan-attribute col-md-12 py-1">
                            <span>{{ planDetails.noOfForms }}</span><span class="text-secondary"> Forms</span>
                        </div>
                        <div class="plan-attribute col-md-12 py-1">
                            <span>{{ planDetails.noOfEntries }}</span><span class="text-secondary"> Entries</span>
                        </div>
                        <div class="plan-attribute col-md-12 py-1">
                            <span>{{ planDetails.storageSize }} GB</span><span class="text-secondary"> Storage</span>
                        </div>
                        <div class="plan-price-button col-md-12 mt-3">
                            <button type="button" class="btn btn-bf btn-sm" (click)="planChange()">Change Plan</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Login Area Right Column-->
        <div class="right-column col-md-8">
            <div class="right-column-top row px-3 pt-3">
                <div class="register-heading-wrapper col-md-12 py-3 text-left">
                    <h4 class="register-heading">Start Building Your Forms Now</h4>
                </div>
                <div class="register-description-wrapper col-md-12 mb-5 mt-n2">
                    <span>
                        Sign up for BlazeForms today to discover how we can help you optimize conversions while saving
                        time and effort with each form you build!
                    </span>
                </div>
                <div class="=register-form col-md-12 mb-3">
                    <form [formGroup]="signupForm" (keyup.enter)="!signupForm.invalid && !matchPass() && submit()">
                        <div class="register-fields-wrapper row mb-3">
                            <div class="field-wrapper col-md-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">person</i>
                                        </span>
                                    </div>
                                    <input type="text" formControlName="FirstName" class="form-control" placeholder="First Name">
                                </div>
                                <div class="bf-input-validation">
                                    <ng-container *ngIf="f.FirstName.invalid && (f.FirstName.dirty || f.FirstName.touched)">
                                        <div *ngIf="f.FirstName.errors?.required || f.FirstName.errors?.pattern" class="field-error text-right mt-1 pr-2 small">First Name is required
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="field-wrapper col-md-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">person</i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" formControlName="LastName" placeholder="Last Name">
                                </div>
                                <div class="bf-input-validation">
                                    <ng-container *ngIf="f.LastName.invalid && (f.LastName.dirty || f.LastName.touched)">
                                        <div *ngIf="f.LastName.errors?.required || f.LastName.errors?.pattern" class="field-error text-right mt-1 pr-2 small">Last Name is required
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="register-fields-wrapper row mb-3">
                            <div class="field-wrapper col-md-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">email</i>
                                        </span>
                                    </div>
                                    <input type="email" class="form-control" formControlName="Email" placeholder="Your Email">
                                </div>
                                <div class="bf-input-validation">
                                    <ng-container *ngIf="f.Email.invalid && (f.Email.dirty || f.Email.touched)">
                                        <div *ngIf="f.Email.errors?.required" class="field-error text-right mt-1 pr-2 small">Email is required
                                        </div>
                                        <div *ngIf="f.Email.errors?.pattern" class="field-error text-right mt-1 pr-2 small">Please add a valid email id</div>
                                        <!-- <div *ngIf="f.Email.errors?.specialCharInDomain"
                                            class="field-error text-right mt-1 pr-2 small">Special character is not allowed in domain</div> -->
                                        <div *ngIf="f.Email.errors?.doubleDotInDomain" class="field-error text-right mt-1 pr-2 small">Double Dot is not required in domain</div>
                                    </ng-container>
                                    <div *ngIf="f.Email.errors?.isExists" class="field-error text-right mt-1 pr-2 small">
                                        Email is already exist
                                    </div>
                                </div>
                            </div>
                            <div class="field-wrapper col-md-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">smartphone</i>
                                        </span>
                                    </div>
                                    <input type="tel" maxlength="14" class="form-control" formControlName="PhoneNumber" placeholder="Your Phone">
                                </div>
                                <div class="bf-input-validation">
                                    <ng-container *ngIf="f.PhoneNumber.invalid && (f.PhoneNumber.dirty || f.PhoneNumber.touched)">
                                        <div *ngIf="f.PhoneNumber.errors?.required" class="field-error text-right mt-1 pr-2 small">Phone Number is required
                                        </div>
                                        <div *ngIf="f.PhoneNumber.errors?.pattern" class="field-error text-right mt-1 pr-2 small">Please add valid mobile number.
                                        </div>
                                        <!-- <div *ngIf="f.PhoneNumber.hasError('minlength')" class="field-error text-right mt-1 pr-2 small">Please add a valid mobile number</div> -->
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="register-fields-wrapper row mb-3">
                            <div class="field-wrapper col-md-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">password</i>
                                        </span>
                                    </div>
                                    <input type="password" class="form-control" formControlName="Password" placeholder="Choose Password">
                                </div>
                                <div class="bf-input-validation">
                                    <ng-container *ngIf="f.Password.invalid && (f.Password.dirty || f.Password.touched)">
                                        <div *ngIf="f.Password.errors?.required" class="field-error text-right mt-1 pr-2 small w-100">Password is required
                                        </div>
                                        <div *ngIf="f.Password.errors?.pattern" class="field-error text-right mt-1 pr-2 small w-100">Password must contain at least one [A-Z], [a-z], [0-1] and Special character</div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="field-wrapper col-md-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">password</i>
                                        </span>
                                    </div>
                                    <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password">
                                </div>
                                <div class="bf-input-validation">
                                    <ng-container *ngIf="f.confirmPassword.invalid && (f.confirmPassword.dirty || f.confirmPassword.touched)">
                                        <div *ngIf="f.confirmPassword.errors?.required || f.confirmPassword.errors?.pattern" class="field-error text-right mt-1 pr-2 small">Confirm Password is required
                                        </div>
                                    </ng-container>
                                    <div class="field-error text-right mt-1 pr-2 small" *ngIf="f.confirmPassword.errors?.passwordNotMatched || matchPass()">
                                        Confirm Password is not matched
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="register-fields-wrapper row mb-3">
                            <div class="field-wrapper col-md-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">apartment</i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" formControlName="WorkSpaceName" placeholder="Your Organization Name">
                                </div>
                                <div class="bf-input-validation">
                                    <ng-container *ngIf="f.WorkSpaceName.invalid && (f.WorkSpaceName.dirty || f.WorkSpaceName.touched)">
                                        <div *ngIf="f.WorkSpaceName.errors?.required || f.WorkSpaceName.errors?.pattern" class="field-error text-right mt-1 pr-2 small">Work Space Name is required
                                        </div>
                                    </ng-container>
                                    <div *ngIf="f.WorkSpaceName.errors?.isExists" class="field-error text-right mt-1 pr-2 small">
                                        Work Space Name is already exist
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="register-fields-wrapper row mb-3">
                            <div class="terms-conditions-wrapper col-md-12 my-3 text-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" formControlName="acceptAgreement" class="custom-control-input" id="SignUpTermsConditions" name="example1">
                                    <label class="custom-control-label" for="SignUpTermsConditions">I have read and accepted <a
                                            href="#">Terms &#38; Conditions</a>
                                        <!-- {{f.acceptAgreement.errors?.isRefused}} -->
                                    </label>
                                </div>
                                <div class="bf-input-validation">
                                    <ng-container *ngIf="f.acceptAgreement.invalid && (f.acceptAgreement.dirty || f.acceptAgreement.touched)">
                                        <div *ngIf="f.acceptAgreement.errors?.isRefused" class="field-error text-right mt-1 pr-2 small text-center">Please accept the agreement</div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="register-fields-wrapper row mb-3">
                            <div class="signup-recaptcha-wrapper col-md-12 mb-3 text-center">
                                <recaptcha formControlName="myRecaptcha" (scriptLoad)="onScriptLoad()" (scriptError)="onScriptError()"></recaptcha>
                            </div>
                        </div>
                        <div class="register-fields-wrapper row mb-3">
                            <div class="signup-button-wrapper col-md-12 mb-3 text-center">
                                <button [disabled]="signupForm.invalid || matchPass()" (click)="submit()" type="button" class="btn btn-bf">
                                    Sign Up Now
                                    <span *ngIf="isFormSubmitted" class="spinner-border spinner-border-sm mr-2"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center flex-wrap align-content-center py-4 border-top">
                    <span class="have-account-link-area">
                        Already have an account?
                        <a class="account-login-link" [routerLink]="['../login']">Login Now</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="login-box border rounded-lg" [ngClass]="{'d-none': !showPlanPage}" >
    <div class="container py-3">
        <div class="p-3 m-n3 overflow-hidden">
            <swiper [slidesPerView]="3" [spaceBetween]="30" [navigation]="true" class="mySwiper">
                <ng-container *ngFor="let plan of masterPlans; let i = index;">
                    <ng-template swiperSlide>
                        <div class="selected-plan-wrapper shadow-sm row no-gutters rounded border text-center">
                            <div class="plan-name-wrapper col-md-12 py-5 text-white-50 rounded-top">
                                <div class="plan-name">
                                    <h4 class="mb-n2"><strong>{{ plan.name }}</strong></h4>
                                </div>
                            </div>
                            <div class="plan-price-wrapper col-md-12 py-4 border-bottom">
                                <div class="plan-price">
                                    <h4><strong>US$</strong> {{ plan.price }}</h4>
                                </div>
                                <div class="plan-period mt-n2 text-secondary">amount / month</div>
                            </div>
                            <div class="col-md-12 p-2">
                                <div class="plan-attributes-wrapper row px-2 py-4">
                                    <div class="plan-attribute col-md-12 py-1">
                                        <span>{{ plan.noOfUsers }}</span><span class="text-secondary"> Users</span>
                                    </div>
                                    <div class="plan-attribute col-md-12 py-1">
                                        <span>{{ plan.noOfForms }}</span><span class="text-secondary"> Forms</span>
                                    </div>
                                    <div class="plan-attribute col-md-12 py-1">
                                        <span>{{ plan.noOfEntries }}</span><span class="text-secondary"> Entries</span>
                                    </div>
                                    <div class="plan-attribute col-md-12 py-1">
                                        <span>{{ plan.storageSize }}</span><span class="text-secondary"> Storage</span>
                                    </div>
                                    <div class="plan-price-button col-md-12 mt-3">
                                        <button type="button" (click)="updateSelectedPlan(plan)" class="btn btn-bf btn-sm">Change Plan</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </swiper>
        </div>
    </div>
</div>