<!--Thank you page Starts-->

<div class="thank-you-container container d-flex align-items-center justify-content-center">
    <div class="thank-you row p-3">

        <div class="thank-you-heading-wrapper col-md-12 py-3 text-center">
            <div class="jumbotron jumbotron-fluid text-center bg-transparent">
                <span class="material-icons-outlined md-36 text-bf" style="font-size: 60px;"> thumb_up</span>
                <h1 class="display-3">Thank You!</h1>
                <p class="lead"> Thank you for submitting the form.!</p>
                <hr class="my-4">
                <p class="lead"></p>
                <a class="btn btn-bf  py-2 px-4 mt-5" href="#" role="button" (click)="back()"> Submit New Entry</a>
                <hr class="my-4">
                <p class="lead">Transaction Id: {{params.chargeId}}</p>
                <p class="lead">Amount: ${{params.amount}}</p>
            </div>
        </div>

    </div>