<div class="login-area-container container d-flex align-items-center justify-content-center">
    <div class="login-box row border rounded-lg">
        <!--Login Area Left Column-->
        <div class="left-column col-md-5 p-4 border-right d-flex justify-content-center flex-wrap align-content-center">
            <img class="login-image" src="../../../assets/images/forgot-password-vector.png">
        </div>
        <!--Login Area Right Column-->
        <div class="right-column col-md-7">
            <div class="right-column-top row p-3">
                <div class="login-heading-wrapper col-md-12 py-3 text-center">
                    <h2 class="login-heading">Forgot Password</h2>
                </div>
                <div class="forgot-password-fields-wrapper col-md-12 mt-4 px-5">
                    <div class="form-group">
                        <label for="email" class="ml-1">Email</label>
                        <input [formControl]="email" type="email" class="form-control rounded-sm" id="email" placeholder="Enter your email address">
                        <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
                            <div *ngIf="email.errors?.required || email.errors?.pattern" class="field-error text-right mt-1 pr-2 small">Email is required</div>
                        </ng-container>
                    </div>
                </div>
                <div class="login-button-wrapper col-md-12 mt-1 mb-5 px-5">
                    <button (click)="submit()" type="button" class="login-button btn btn-bf btn-block py-2">
                        <span *ngIf="isFormSubmitted" class="spinner-border spinner-border-sm mr-2"></span>
                        Submit
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center flex-wrap align-content-center py-4 mt-4 border-top">
                    <span class="create-account-link-area">
                        No account yet? 
                        <a class="create-account-link" [routerLink]="['../register']">Create account</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>