<div class="thank-you-container container d-flex align-items-center justify-content-center" *ngIf="!showBillingSection && !showPlanPage">
    <div class="thank-you row p-3">
        <div class="thank-you-heading-wrapper col-md-12 py-3 text-center">
            <div class="jumbotron jumbotron-fluid text-center bg-transparent">
                <span class="material-icons-outlined md-36 text-bf" style="font-size: 60px;"> thumb_up</span>
                <h1 class="display-3">Thank You!</h1>
                <p class="lead"> for registering with the blazeform!</p>
                <hr class="my-4">
                <p class="lead">A confirmation e-mail has been sent to your registered email address. In order to complete the signup process, please click on the activation link in the e-mail.</p>
                <a class="btn btn-bf  py-2 px-4 mt-5" [routerLink]="['../../home']" role="button">Go to home</a>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showBillingSection && !showPlanPage" class="container">
    <div class="row row mt-5">
        <div class="col-md-4">
            <div class="selected-plan-wrapper shadow-sm row no-gutters rounded border text-center">
                <div class="plan-name-wrapper col-md-12 py-5 text-white-50 rounded-top">
                    <div class="plan-name">
                        <h4 class="mb-n2"><strong>{{ billingpageData?.name }}</strong></h4>
                    </div>
                </div>
                <div class="plan-price-wrapper col-md-12 py-4 border-bottom">
                    <div class="plan-price">
                        <h4><strong>US$</strong> {{ billingpageData?.price }}</h4>
                    </div>
                    <div class="plan-period mt-n2 text-secondary">amount / month</div>
                </div>
                <div class="col-md-12 p-2">
                    <div class="plan-attributes-wrapper row px-2 py-4">
                        <div class="plan-attribute col-md-12 py-1">
                            <span>{{ billingpageData?.noOfUsers }}</span><span class="text-secondary"> Users</span>
                        </div>
                        <div class="plan-attribute col-md-12 py-1">
                            <span>{{ billingpageData?.noOfForms }}</span><span class="text-secondary"> Forms</span>
                        </div>
                        <div class="plan-attribute col-md-12 py-1">
                            <span>{{ billingpageData?.noOfEntries }}</span><span class="text-secondary"> Entries</span>
                        </div>
                        <div class="plan-attribute col-md-12 py-1">
                            <span>{{ calulateUites(billingpageData?.storageSize) }}</span><span class="text-secondary"> Storage</span>
                        </div>
                        <div class="plan-price-button col-md-12 mt-3">
                            <button type="button" class="btn btn-bf btn-sm" (click)="updatePlan()">Change Plan</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 offset-2 d-flex align-items-center">
          <button type="button" (click)="buyPlan()" class="btn btn-bf btn-sm">Proceed with Plan</button>

        </div>
    </div>
</div>

<div class="login-box border rounded-lg" [ngClass]="{'d-none': !showPlanPage}" >
    <div class="container py-3">
        <div class="p-3 m-n3 overflow-hidden">
            <swiper [slidesPerView]="3" [spaceBetween]="30" [navigation]="true" class="mySwiper">
                <ng-container *ngFor="let plan of masterPlans; let i = index;">
                    <ng-template swiperSlide>
                        <div class="selected-plan-wrapper shadow-sm row no-gutters rounded border text-center">
                            <div class="plan-name-wrapper col-md-12 py-5 text-white-50 rounded-top">
                                <div class="plan-name">
                                    <h4 class="mb-n2"><strong>{{ plan.name }}</strong></h4>
                                </div>
                            </div>
                            <div class="plan-price-wrapper col-md-12 py-4 border-bottom">
                                <div class="plan-price">
                                    <h4><strong>US$</strong> {{ plan.price }}</h4>
                                </div>
                                <div class="plan-period mt-n2 text-secondary">amount / month</div>
                            </div>
                            <div class="col-md-12 p-2">
                                <div class="plan-attributes-wrapper row px-2 py-4">
                                    <div class="plan-attribute col-md-12 py-1">
                                        <span>{{ plan.noOfUsers }}</span><span class="text-secondary"> Users</span>
                                    </div>
                                    <div class="plan-attribute col-md-12 py-1">
                                        <span>{{ plan.noOfForms }}</span><span class="text-secondary"> Forms</span>
                                    </div>
                                    <div class="plan-attribute col-md-12 py-1">
                                        <span>{{ plan.noOfEntries }}</span><span class="text-secondary"> Entries</span>
                                    </div>
                                    <div class="plan-attribute col-md-12 py-1">
                                        <span>{{ calulateUites(plan.storageSize) }}</span><span class="text-secondary"> Storage</span>
                                    </div>
                                    <div class="plan-price-button col-md-12 mt-3">
                                        <button type="button" (click)="updateSelectedPlan(plan)" class="btn btn-bf btn-sm">Change Plan</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </swiper>
        </div>
    </div>
</div>
