<div class="thank-you-container container d-flex align-items-center justify-content-center">
    <div class="thank-you row p-3">

        <div class="thank-you-heading-wrapper col-md-12 py-3 text-center">
                    <div class="jumbotron jumbotron-fluid text-center bg-transparent">
                        <span class="material-icons-outlined md-36 text-bf" style="font-size: 60px;"> thumb_up</span>
                        <h1 class="display-3">Thank You!</h1>
                        <p class="lead"> for registering with the blazeform!</p>
                        <hr class="my-4">
                        <p class="lead">A confirmation e-mail has been sent to your registered email address. In order to complete the signup process, please click on the activation link in the e-mail.</p>
                        <a class="btn btn-bf  py-2 px-4 mt-5" [routerLink]="['../../home']" role="button">Go to home</a>                       
                      </div>
        </div>

</div>

</div>  