
        <!--Header Startes-->
        <!--Login Area Starts-->
        <div class="login-area-container container d-flex align-items-center justify-content-center">
            <div class="login-box row border rounded-lg">
                <!--Login Area Left Column-->
                <div class="left-column col-md-5 p-4 border-right d-flex justify-content-center flex-wrap align-content-center">
                    <img class="login-image" src="../../../assets/images/login-vector.png">
                </div>
                <!--Login Area Right Column-->
                <div class="right-column col-md-7">
                    <div class="right-column-top row px-3 pt-3">
                        <div class="login-heading-wrapper col-md-12 py-3 text-center">
                            <h2 class="login-heading">Sign in with Email or Fingerprint</h2>
                        </div>
                        <div class="tabbed-form-wrapper col-md-12">
                            <div class="row p-4">
                                <div class="login-form-nav col-md-12">
                                    <ul class="nav nav-pills nav-justified border-bottom">
                                        <li class="nav-item">
                                            <a class="nav-link active py-3" data-toggle="pill" href="#email-login">
                                                <i class="material-icons">mail_outline</i>
                                                Email
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link py-3" data-toggle="pill" href="#fingerprint-login">
                                            <i class="material-icons">fingerprint</i>
                                                Fingerprint
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-wrapper col-md-12">
                                    <div class="tab-content p-2">
                                        <div class="tab-pane container active" id="email-login">
                                            <div class="row mt-3">
                                                <div class="login-fields-wrapper col-md-12">
                                                    <div class="form-group mb-n2">
                                                        <label for="email" class="ml-1">Email</label>
                                                        <input type="email" class="form-control rounded-sm" id="email" placeholder="Enter your email address">
                                                        <div class="field-error text-right mt-1 pr-2 small">Email is required</div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="password" class="ml-1">Password</label>
                                                        <input type="password" class="form-control rounded-sm" id="password" placeholder="Enter your password">
                                                    </div>
                                                </div>
                                                <div class="login-button-wrapper col-md-12 mt-3">
                                                    <button type="button" class="login-button btn btn-bf btn-block py-2">
                                                        <span class="spinner-border spinner-border-sm mr-2"></span>
                                                        Log In</button>
                                                </div>
                                                <div class="forgot-password-wrapper col-md-12 text-center mt-3">
                                                    <a [routerLink]="['../forgot-password']">
                                                        Forgot Your Password?
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane container fade" id="fingerprint-login">
                                            <div class="fingerprint-capture-area row text-center">
                                                <div class="fingerprint-instructions col-md-12 py-3">
                                                    <span>To login using you registered fingerprint, please press the button below and than place your finger on the scanner.</span>
                                                </div>
                                                <div class="fingerprint-icon col-md-12 py-3">
                                                    <img class="fingerprint-icon-svg" src="../../../assets/images/fingerprint-v2-print.svg" height="100">
                                                </div>
                                                <div class="fingerprint-button-wrapper col-md-12 mt-3">
                                                    <button type="button" class="fingerprint-button btn btn-bf btn-block py-2">
                                                        <span class="spinner-border spinner-border-sm mr-2"></span>
                                                        Capture Fingerprint
                                                    </button>
                                                </div>
                                                <div class="scanner-troubleshoot-wrapper col-md-12 mt-3">
                                                    <a href="#">Having trouble with the scanner?</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center flex-wrap align-content-center py-4 border-top">
                            <span class="create-account-link-area">
                                No account yet? 
                                <a [routerLink]="['../register']" class="create-account-link">Create account</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <!--Footer Area Starts-->
       