<div class="hero-banner container-fluid py-4 bg-light mb-4 border-bottom">
    <div class="container py-4">
        <h2>Workflow</h2>
    </div>
</div>

<div class="Workflow-container container">

    <div class="row">
        <div class="col-md-12">
            <div class="card workflow-box">
                <h5 class="card-header">Invite Users</h5>
                <div class="card-body">

                    <p class="card-text  d-flex h6 info-box-text">
                        <span class="material-icons-outlined mr-2">
                info
            </span> You may add any user within the organization or invite user outside the organization by entering their emails below. Invited users will get email notification to activate themselves. Users added as owners
                        has full rights to edit workflow, modify levels, assign participants and design workflow forms.</p>

                </div>
            </div>
        </div>
    </div>


    <div class="row mt-3">
        <div class="col-md-12">
            <div class="card workflow-box">
                <h5 class="card-header">Define owners for this workflow</h5>
                <div class="card-body">

                    <div class="form-group">
                        <label></label>
                        <input id="text1" name="text1" type="text" placeholder="Enter name or email of users to add as owner" class="form-control">
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="row mt-3">
        <div class="col-md-12">
            <h4>Added Users</h4>
            <div class="added-users-list col-md-12 border rounded">
                <div class="added-user-item row p-3 border-bottom">

                    <div class="added-user-title-wrapper col-md-1">
                        <img src="images/user.jpg" class="user-profile-img rounded-circle" alt="" title="" width="40" height="40">
                    </div>
                    <div class="added-user-title-wrapper col-md-6">
                        <div clss="added-user-name">John Doe</div>
                        <span class="text-muted"><i>brand.blazeform@blazeform.com</i></span>
                    </div>

                    <div class="added-user-title-wrapper col-md-3">
                        <span class="badge badge-pill badge-success py-2 px-3 mt-2">Activated</span>
                    </div>
                    <div class="added-user-actions-wrapper col-md-2 d-flex d-wrap justify-content-end">

                        <i class="material-icons-round text-dark">delete</i>
                    </div>
                </div>

                <div class="added-user-item row p-3 border-bottom">

                    <div class="added-user-title-wrapper col-md-1">
                        <img src="images/user.jpg" class="user-profile-img rounded-circle" alt="" title="" width="40" height="40">
                    </div>
                    <div class="added-user-title-wrapper col-md-6">
                        <div clss="added-user-name">John Doe</div>
                        <span class="text-muted"><i>brand.blazeform@blazeform.com</i></span>
                    </div>

                    <div class="added-user-title-wrapper col-md-3">
                        <span class="badge badge-pill badge-success py-2 px-3 mt-2">Activated</span>
                    </div>
                    <div class="added-user-actions-wrapper col-md-2 d-flex d-wrap justify-content-end">

                        <i class="material-icons-round text-dark">delete</i>
                    </div>
                </div>

                <div class="added-user-item row p-3 border-bottom">

                    <div class="added-user-title-wrapper col-md-1">
                        <img src="images/user.jpg" class="user-profile-img rounded-circle" alt="" title="" width="40" height="40">
                    </div>
                    <div class="added-user-title-wrapper col-md-6">
                        <div clss="added-user-name">John Doe</div>
                        <span class="text-muted"><i>brand.blazeform@blazeform.com</i></span>
                    </div>

                    <div class="added-user-title-wrapper col-md-3">
                        <span class="badge badge-pill badge-success py-2 px-3 mt-2">Activated</span>
                    </div>
                    <div class="added-user-actions-wrapper col-md-2 d-flex d-wrap justify-content-end">

                        <i class="material-icons-round text-dark">delete</i>
                    </div>
                </div>

                <div class="added-user-item row p-3 border-bottom">

                    <div class="added-user-title-wrapper col-md-1">
                        <img src="images/user.jpg" class="user-profile-img rounded-circle" alt="" title="" width="40" height="40">
                    </div>
                    <div class="added-user-title-wrapper col-md-6">
                        <div clss="added-user-name">John Doe</div>
                        <span class="text-muted"><i>brand.blazeform@blazeform.com</i></span>
                    </div>

                    <div class="added-user-title-wrapper col-md-3">
                        <span class="badge badge-pill badge-success py-2 px-3 mt-2">Activated</span>
                    </div>
                    <div class="added-user-actions-wrapper col-md-2 d-flex d-wrap justify-content-end">

                        <i class="material-icons-round text-dark">delete</i>
                    </div>
                </div>

                <div class="added-user-item row p-3 border-bottom">

                    <div class="added-user-title-wrapper col-md-1">
                        <img src="images/user.jpg" class="user-profile-img rounded-circle" alt="" title="" width="40" height="40">
                    </div>
                    <div class="added-user-title-wrapper col-md-6">
                        <div clss="added-user-name">John Doe</div>
                        <span class="text-muted"><i>brand.blazeform@blazeform.com</i></span>
                    </div>

                    <div class="added-user-title-wrapper col-md-3">
                        <span class="badge badge-pill badge-success py-2 px-3 mt-2">Activated</span>
                    </div>
                    <div class="added-user-actions-wrapper col-md-2 d-flex d-wrap justify-content-end">

                        <i class="material-icons-round text-dark">delete</i>
                    </div>
                </div>

                <div class="added-user-item row p-3 border-bottom">

                    <div class="added-user-title-wrapper col-md-1">
                        <img src="images/user.jpg" class="user-profile-img rounded-circle" alt="" title="" width="40" height="40">
                    </div>
                    <div class="added-user-title-wrapper col-md-6">
                        <div clss="added-user-name">John Doe</div>
                        <span class="text-muted"><i>brand.blazeform@blazeform.com</i></span>
                    </div>

                    <div class="added-user-title-wrapper col-md-3">
                        <span class="badge badge-pill badge-success py-2 px-3 mt-2">Activated</span>
                    </div>
                    <div class="added-user-actions-wrapper col-md-2 d-flex d-wrap justify-content-end">

                        <i class="material-icons-round text-dark">delete</i>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <div class="card workflow-box">
                <h5 class="card-header">Define various levels to this workflow</h5>
                <div class="card-body">

                    <p class="card-text">
                        You may add any user within the organization or invite user outside the organization by entering their emails below. Invited users will get email notification to activate themselves. Users added as owners has full rights to edit workflow, modify levels,
                        assign participants and design workflow forms.</p>

                    <div class="text-center"> <a href="#" class="btn btn-primary btn-bf" data-toggle="collapse" data-target="#add-user-level-block" aria-expanded="false" aria-controls="add-user-level-block">Add Levels</a></div>

                </div>
            </div>
        </div>
    </div>


    <div class="row mt-3">
        <div class="col">
            <div class="collapse multi-collapse card" id="add-user-level-block">
                <h5 class="card-header">Added Levels</h5>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">

                                <input id="text1" name="text1" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-4 text-right">
                            <span class="material-icons collapsed mr-2" title="Add Participants" role="button">person_add</span>
                            <span class="material-icons mr-2" title="Drag n Drop" role="button">open_with</span>
                            <span class="material-icons mr-2" title="Edit" role="button">edit</span>
                            <span class="material-icons mr-2" title="Delete" role="button">delete</span>
                            <span class="material-icons-outlined mr-1" role="button"> expand_more </span> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="card workflow-box">
                <h5 class="card-header">Build your form</h5>
                <div class="card-body">

                    <p class="card-text">
                        You may add any under within the organization or invite user outside the organization by entering their emails below. Invited users will get email notification to activate theirselves. Users added as owners has full rights to edit workflow, modify levels,
                        assign participants and design workflow forms.</p>

                    <div class="text-center"> <a href="#" class="btn btn-primary btn-bf" data-target="#">Build</a></div>

                </div>
            </div>
        </div>
    </div>

</div>