<app-forms-header></app-forms-header>
<div class="hero-banner container-fluid py-4 bg-light mb-4 border-bottom">
    <div class="container py-4">
        <h2>Forms</h2>
    </div>
</div>
<div class="forms-container container">
    <div class="search-wrapper">
        <div class="form-group has-search mb-5">
            <input type="text" class="form-control" placeholder="Search Forms">
        </div>

    </div>
    <div class="forms-controls-wrapper d-flex flex-wrap justify-content-between mb-5">
        <div class="add-form-wrapper">
            <button type="button" (click)="open()" id="add-form" class="btn btn-bf btn-sm" >
                Add Form
            </button>
        </div>
        <div class="forms-filters-wrapper">
            <i class="material-icons mr-3">delete</i>
            <i class="material-icons mr-3">archive</i>
            <i class="material-icons mr-3">drive_file_move</i>
            <i class="material-icons">filter_alt</i>
        </div>
    </div>
    <ng-container *ngFor="let list of ['formsList']">
        <div class="forms-folder-wrapper row mb-5">
            <div class="folder-header col-md-12 mb-2">
                <span class="folder-icon me-2">
                    <i class="material-icons-outlined">folder</i>
                </span>
                <span class="folder-name">
                    \Root
                </span>
            </div>
            <div class="forms-list col-md-12 border rounded">
                <div class="form-list-item row p-3 border-bottom">
                    <div class="form-checkbox-wrapper col-md-1">
                        <i class="form-checkbox material-icons-round me-2 text-dark">check_box_outline_blank</i>
                        <i class="material-icons-round">star_outline</i>
                    </div>
                    <div class="form-title-wrapper col-md-4">
                        <span clss="form-name">Form Name</span>
                    </div>
                    <div class="form-badges-wrapper col-md-4">
                        <span class="build-badge px-2 py-1 mr-1 rounded-pill small border border-2">Build</span>
                        <span class="publish-badge px-2 py-1 mr-1 rounded-pill small border border-2">Publish</span>
                        <span class="entries-badge py-1 mr-1 rounded-pill small border border-2">
                            <span class="pl-2 pr-1">Entries</span>
                            <span class="pl-2 pr-1 font-weight-bold text-bf">25</span>
                        </span>
                        <span class="url-badge px-2 py-1 rounded-pill small border border-2">URL</span>
                    </div>
                    <div class="form-actions-wrapper col-md-3 d-flex d-wrap justify-content-end">
                        <i class="material-icons-round mr-3 text-dark">people</i>
                        <i class="material-icons-round mr-3 text-dark">drive_file_move</i>
                        <i class="material-icons-round mr-3 text-dark">archive</i>
                        <i class="material-icons-round mr-3 text-dark" data-bs-toggle="modal"
                            data-bs-target="#edit-form-modal">edit</i>
                        <i class="material-icons-round text-dark">delete</i>
                    </div>
                </div>
                <div class="form-list-item row p-3 border-bottom bg-bf-light">
                    <div class="form-checkbox-wrapper col-md-1">
                        <i class="form-checkbox material-icons-round mr-1">check_box</i>
                        <i class="material-icons-round">star_outline</i>
                    </div>
                    <div class="form-title-wrapper col-md-4">
                        <span clss="form-name">Form Name</span>
                    </div>
                    <div class="form-badges-wrapper col-md-4">
                        <span class="build-badge px-2 py-1 mr-1 rounded-pill small border border-2">Build</span>
                        <span class="publish-badge px-2 py-1 mr-1 rounded-pill small border border-2">Publish</span>
                        <span class="entries-badge py-1 mr-1 rounded-pill small border border-2">
                            <span class="pl-2 pr-1">Entries</span>
                            <span class="pl-2 pr-1 font-weight-bold text-bf">25</span>
                        </span>
                        <span class="url-badge px-2 py-1 rounded-pill small border border-2">URL</span>
                    </div>
                    <div class="form-actions-wrapper col-md-3 d-flex d-wrap justify-content-end">
                        <i class="material-icons-round mr-3 text-dark">people</i>
                        <i class="material-icons-round mr-3 text-dark">drive_file_move</i>
                        <i class="material-icons-round mr-3 text-dark">archive</i>
                        <i class="material-icons-round mr-3 text-dark">edit</i>
                        <i class="material-icons-round text-dark">delete</i>
                    </div>
                </div>
                <div class="form-list-item row p-3">
                    <div class="form-checkbox-wrapper col-md-1">
                        <i class="form-checkbox material-icons-round me-2 text-dark">check_box_outline_blank</i>
                        <i class="material-icons-round">star_outline</i>
                    </div>
                    <div class="form-title-wrapper col-md-4">
                        <span clss="form-name">Form Name</span>
                    </div>
                    <div class="form-badges-wrapper col-md-4">
                        <span class="build-badge px-2 py-1 mr-1 rounded-pill small border border-2">Build</span>
                        <span class="publish-badge px-2 py-1 mr-1 rounded-pill small border border-2">Publish</span>
                        <span class="entries-badge py-1 mr-1 rounded-pill small border border-2">
                            <span class="pl-2 pr-1">Entries</span>
                            <span class="pl-2 pr-1 font-weight-bold text-bf">25</span>
                        </span>
                        <span class="url-badge px-2 py-1 rounded-pill small border border-2">URL</span>
                    </div>
                    <div class="form-actions-wrapper col-md-3 d-flex d-wrap justify-content-end">
                        <i class="material-icons-round mr-3 text-dark">people</i>
                        <i class="material-icons-round mr-3 text-dark">drive_file_move</i>
                        <i class="material-icons-round mr-3 text-dark">archive</i>
                        <i class="material-icons-round mr-3 text-dark">edit</i>
                        <i class="material-icons-round text-dark">delete</i>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    
    <!-- <div class="forms-folder-wrapper row mb-5">
        <div class="folder-header col-md-12 mb-3">
            <span class="folder-icon me-2">
                <i class="material-icons-outlined">folder</i>
            </span>
            <span class="folder-name">
                \Root\My Forms
            </span>
        </div>
        <div class="forms-list col-md-12 border rounded">
            <div class="form-list-item row p-3 border-bottom">
                <div class="form-checkbox-wrapper col-md-1">
                    <i class="form-checkbox material-icons-round me-2 text-dark">check_box_outline_blank</i>
                    <i class="material-icons-round">star_outline</i>
                </div>
                <div class="form-title-wrapper col-md-4 text-truncate">
                    <span class="form-name text-break">Form with a very very very very very very very very very long
                        name</span>
                </div>
                <div class="form-badges-wrapper col-md-4">
                    <span class="build-badge px-2 py-1 mr-1 rounded-pill small border border-2">Build</span>
                    <span class="publish-badge px-2 py-1 mr-1 rounded-pill small border border-2">Publish</span>
                    <span class="entries-badge py-1 mr-1 rounded-pill small border border-2">
                        <span class="pl-2 pr-1">Entries</span>
                        <span class="pl-2 pr-1 font-weight-bold text-bf">25</span>
                    </span>
                    <span class="url-badge px-2 py-1 rounded-pill small border border-2">URL</span>
                </div>
                <div class="form-actions-wrapper col-md-3 d-flex d-wrap justify-content-end">
                    <i class="material-icons-round mr-3 text-dark">people</i>
                    <i class="material-icons-round mr-3 text-dark">drive_file_move</i>
                    <i class="material-icons-round mr-3 text-dark">archive</i>
                    <i class="material-icons-round mr-3 text-dark">edit</i>
                    <i class="material-icons-round text-dark">delete</i>
                </div>
            </div>
            <div class="form-list-item row p-3 border-bottom bg-light">
                <div class="form-checkbox-wrapper col-md-1">
                    <i class="form-checkbox material-icons-round me-2 text-dark">check_box_outline_blank</i>
                    <i class="material-icons-round">star_outline</i>
                </div>
                <div class="form-title-wrapper col-md-4">
                    <span clss="form-name">Form Name</span>
                </div>
                <div class="form-badges-wrapper col-md-4">
                    <span class="build-badge px-2 py-1 mr-1 rounded-pill small border border-2">Build</span>
                    <span class="publish-badge px-2 py-1 mr-1 rounded-pill small border border-2">Publish</span>
                    <span class="entries-badge py-1 mr-1 rounded-pill small border border-2">
                        <span class="pl-2 pr-1">Entries</span>
                        <span class="pl-2 pr-1 font-weight-bold text-bf">25</span>
                    </span>
                    <span class="url-badge px-2 py-1 rounded-pill small border border-2">URL</span>
                </div>
                <div class="form-actions-wrapper col-md-3 d-flex d-wrap justify-content-end">
                    <i class="material-icons-round mr-3 text-dark">people</i>
                    <i class="material-icons-round mr-3 text-dark">drive_file_move</i>
                    <i class="material-icons-round mr-3 text-dark">archive</i>
                    <i class="material-icons-round mr-3 text-dark">edit</i>
                    <i class="material-icons-round text-dark">delete</i>
                </div>
            </div>
            <div class="form-list-item row p-3">
                <div class="form-checkbox-wrapper col-md-1">
                    <i class="form-checkbox material-icons-round me-2 text-dark">check_box_outline_blank</i>
                    <i class="material-icons-round">star_outline</i>
                </div>
                <div class="form-title-wrapper col-md-4">
                    <span clss="form-name">Form Name</span>
                </div>
                <div class="form-badges-wrapper col-md-4">
                    <span class="build-badge px-2 py-1 mr-1 rounded-pill small border border-2">Build</span>
                    <span class="publish-badge px-2 py-1 mr-1 rounded-pill small border border-2">Publish</span>
                    <span class="entries-badge py-1 mr-1 rounded-pill small border border-2">
                        <span class="pl-2 pr-1">Entries</span>
                        <span class="pl-2 pr-1 font-weight-bold text-bf">25</span>
                    </span>
                    <span class="url-badge px-2 py-1 rounded-pill small border border-2">URL</span>
                </div>
                <div class="form-actions-wrapper col-md-3 d-flex d-wrap justify-content-end">
                    <i class="material-icons-round mr-3 text-dark">people</i>
                    <i class="material-icons-round mr-3 text-dark">drive_file_move</i>
                    <i class="material-icons-round mr-3 text-dark">archive</i>
                    <i class="material-icons-round mr-3 text-dark">edit</i>
                    <i class="material-icons-round text-dark">delete</i>
                </div>
            </div>
        </div>
    </div>
    <div class="forms-folder-wrapper row mb-5">
        <div class="folder-header col-md-12 mb-3">
            <span class="folder-icon me-2">
                <i class="material-icons-outlined">folder</i>
            </span>
            <span class="folder-name">
                \Root\My Forms
            </span>
        </div>
        <div class="forms-list col-md-12 border rounded">
            <div class="form-list-item row p-3 border-bottom">
                <div class="form-checkbox-wrapper col-md-1">
                    <i class="form-checkbox material-icons-round me-2 text-dark">check_box_outline_blank</i>
                    <i class="material-icons-round">star_outline</i>
                </div>
                <div class="form-title-wrapper col-md-4 text-truncate">
                    <span class="form-name text-break">Form with a very very very very very very very very very long
                        name</span>
                </div>
                <div class="form-badges-wrapper col-md-4">
                    <span class="build-badge px-2 py-1 mr-1 rounded-pill small border border-2">Build</span>
                    <span class="publish-badge px-2 py-1 mr-1 rounded-pill small border border-2">Publish</span>
                    <span class="entries-badge py-1 mr-1 rounded-pill small border border-2">
                        <span class="pl-2 pr-1">Entries</span>
                        <span class="pl-2 pr-1 font-weight-bold text-bf">25</span>
                    </span>
                    <span class="url-badge px-2 py-1 rounded-pill small border border-2">URL</span>
                </div>
                <div class="form-actions-wrapper col-md-3 d-flex d-wrap justify-content-end">
                    <i class="material-icons-round mr-3 text-dark">people</i>
                    <i class="material-icons-round mr-3 text-dark">drive_file_move</i>
                    <i class="material-icons-round mr-3 text-dark">archive</i>
                    <i class="material-icons-round mr-3 text-dark">edit</i>
                    <i class="material-icons-round text-dark">delete</i>
                </div>
            </div>
            <div class="form-list-item row p-3 border-bottom bg-light">
                <div class="form-checkbox-wrapper col-md-1">
                    <i class="form-checkbox material-icons-round me-2 text-dark">check_box_outline_blank</i>
                    <i class="material-icons-round">star_outline</i>
                </div>
                <div class="form-title-wrapper col-md-4">
                    <span clss="form-name">Form Name</span>
                </div>
                <div class="form-badges-wrapper col-md-4">
                    <span class="build-badge px-2 py-1 mr-1 rounded-pill small border border-2">Build</span>
                    <span class="publish-badge px-2 py-1 mr-1 rounded-pill small border border-2">Publish</span>
                    <span class="entries-badge py-1 mr-1 rounded-pill small border border-2">
                        <span class="pl-2 pr-1">Entries</span>
                        <span class="pl-2 pr-1 font-weight-bold text-bf">25</span>
                    </span>
                    <span class="url-badge px-2 py-1 rounded-pill small border border-2">URL</span>
                </div>
                <div class="form-actions-wrapper col-md-3 d-flex d-wrap justify-content-end">
                    <i class="material-icons-round mr-3 text-dark">people</i>
                    <i class="material-icons-round mr-3 text-dark">drive_file_move</i>
                    <i class="material-icons-round mr-3 text-dark">archive</i>
                    <i class="material-icons-round mr-3 text-dark">edit</i>
                    <i class="material-icons-round text-dark">delete</i>
                </div>
            </div>
            <div class="form-list-item row p-3">
                <div class="form-checkbox-wrapper col-md-1">
                    <i class="form-checkbox material-icons-round me-2 text-dark">check_box_outline_blank</i>
                    <i class="material-icons-round">star_outline</i>
                </div>
                <div class="form-title-wrapper col-md-4">
                    <span clss="form-name">Form Name</span>
                </div>
                <div class="form-badges-wrapper col-md-4">
                    <span class="build-badge px-2 py-1 mr-1 rounded-pill small border border-2">Build</span>
                    <span class="publish-badge px-2 py-1 mr-1 rounded-pill small border border-2">Publish</span>
                    <span class="entries-badge py-1 mr-1 rounded-pill small border border-2">
                        <span class="pl-2 pr-1">Entries</span>
                        <span class="pl-2 pr-1 font-weight-bold text-bf">25</span>
                    </span>
                    <span class="url-badge px-2 py-1 rounded-pill small border border-2">URL</span>
                </div>
                <div class="form-actions-wrapper col-md-3 d-flex d-wrap justify-content-end">
                    <i class="material-icons-round mr-3 text-dark">people</i>
                    <i class="material-icons-round mr-3 text-dark">drive_file_move</i>
                    <i class="material-icons-round mr-3 text-dark">archive</i>
                    <i class="material-icons-round mr-3 text-dark">edit</i>
                    <i class="material-icons-round text-dark">delete</i>
                </div>
            </div>
        </div>
    </div> -->
</div>

<app-forms-footer></app-forms-footer>