<div class="row container d-flex justify-content-center">

    <div class="referral-social px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <p class="lead">Recommend Blaze Forms to your friends and colleagues, and they'll receive a free month of advanced form building.</p>
        <p class="lead text-muted">Get your referral link and share it.</p>
    </div>


    <div class="col-md-6 text-center">

        <div class="social-icon-wrap">
            <button type="button" class="btn btn-social-icon"><span class="material-icons-outlined"> link </span></button>
            <button type="button" class="btn btn-social-icon "><span class="material-icons-outlined"> facebook </span></button>
            <button type="button" class="btn btn-social-icon "><span class="material-icons-outlined"> email </span></button>
            <button type="button" class="btn btn-social-icon "><span class="material-icons-outlined"> email </span></button>

        </div>


    </div>

</div>