<header class="header border-bottom">
    <nav class="px-4 py-0 navbar navbar-expand-lg bg-white">
        <a href="/" class="navbar-brand">
            <div class="colored-logo">
                <img src="assets/images/logo.png" height="41">
            </div>
        </a>
        <div class="ml-auto flex-nowrap align-items-center justify-content-end" [hidden]="(!userId || currentUrl == '/user/login')" [ngClass]="{'d-flex': userId}">
            <div class="me-2 nav-item" [hidden]="!formPermission.canView">
                <a id="form-builder-page" class="text-gray-link nav-link p-4" [ngClass]="{'active': currentUrl == '/forms'}" role="button" [routerLink]="['/forms']">Forms</a>
            </div>
            <div class="me-2 nav-item mr-5" [hidden]="!organizationPermission.canView">
                <a aria-haspopup="true" aria-expanded="false" id="Organization" class="text-gray-link p-4 nav-link" [routerLink]="['/work-spaces']" [ngClass]="{'active': currentUrl == '/work-spaces'}">Organization</a>
            </div>

                <div class="ml-auto d-none d-lg-block me-4" *ngIf="userWorkspaceList && !hideDropdown">
                    <div class="org-switch-wrapper mx-4">
                        <div ngbDropdown class="d-inline-block org-switcher-btn">
                            <div class="border rounded bg-light py-2 px-3" id="org-switcher" role="button" ngbDropdownToggle>{{userWorkspaceList.name}}</div>
                            <div ngbDropdownMenu aria-labelledby="org-switcher" [hidden]="isSuperAdmin">
                                <ng-container *ngFor="let userWorkspace of userWorkspaceLists; let i = index">
                                    <button ngbDropdownItem *ngIf="userWorkspaceList.id != userWorkspace.id" (click)="changeWorkSpace(userWorkspace)">{{ userWorkspace.name }}</button>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="lang-switcher-wrapper header-dropdown-wrap mr-4">
                <div ngbDropdown class="d-inline-block">
                    <div class="dropdown-toggle" id="langswitcherdropdown" role="button" ngbDropdownToggle>
                        <i class="material-icons">language</i>
                    </div>
                    <div ngbDropdownMenu class="dropdown-menu header-dropdown shadow border-0" aria-labelledby="langswitcherdropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <div class="lang-switcher-wrapper header-dropdown-wrap">
                <div ngbDropdown class="d-inline-block">
                    <div class="dropdown-toggle" id="langswitcherdropdown" role="button" ngbDropdownToggle>
                        <i class="material-icons">information</i>
                    </div>
                    <div ngbDropdownMenu style="top: -15px" class="dropdown-menu header-dropdown shadow border-0" aria-labelledby="langswitcherdropdown">
                        <a *ngFor="let item of notifications" class="dropdown-item">{{item.formName}} filled by <br />{{item.userName}} <span (click)="viewPublish(item)">View</span></a>
                        
                    </div>
                </div>
            </div>
            <div class="account-image-wrapper header-dropdown-wrap">
                <div ngbDropdown class="d-inline-block">
                    <div class="account-image" id="UserProfile" ngbDropdownToggle role="button">
                        <img class="rounded-circle" src="assets/images/user.jpg" height="35" width="35" *ngIf="!profileImageSrc">
                        <img class="rounded-circle" [src]="profileImageSrc" height="35" width="35" *ngIf="profileImageSrc">
                    </div>
                    <div ngbDropdownMenu class="dropdown-menu header-dropdown shadow border-0" aria-labelledby="UserProfile" x-placement="bottom-left">
                        <div class="dropdown-header" role="heading">
                            <h6 class="font-weight-bold">User Name</h6>
                            <small>Admin</small>
                        </div>
                        <hr class="dropdown-divider" role="separator">
                        <a [routerLink]="['/my-profile']" ngbDropdownItem role="button">My Account</a>
                        <a [routerLink]="['/my-profile']" ngbDropdownItem role="button">Setting</a>
                        <hr class="dropdown-divider" role="separator">
                        <a [routerLink]="['/user/logout']" ngbDropdownItem role="button" (click)="orgUserLogout()">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<div *ngIf="workSpacePlanDetail" class="workspace-plan-details container-fluid">
    <div class="row my-2">
        <div class="text-center col-md-12 py-2 workspace-plan-notice" [hidden]="!planPermission.canView && isSuperAdmin">
            Your current usage : {{workSpacePlanDetail.noOfUsers}}/{{workSpacePlanDetail.plandetails.noOfUsers}} USERS | {{workSpacePlanDetail.noOfForms}}/{{workSpacePlanDetail.plandetails.noOfForms}} Forms | {{workSpacePlanDetail.noOfEntries}}/{{workSpacePlanDetail.plandetails.noOfEntries}}
            ENTRIES | {{workSpacePlanDetail.storageSize }}/{{workSpacePlanDetail.plandetails.storageSize}} Storage
            <a class="plan-detail" [routerLink]="" [hidden]="!planPermission.canView">View Details</a>
            <i class="material-icons float-right">close</i>
        </div>
    </div>
</div>