<!-- Header Started-->
<div class="header-container container-fluid">
    <div class="header-wrapper row px-3 border-bottom d-flex flex-nowrap align-items-center justify-content-between">
        <div class="logo-wrapper col py-3">
            <div class="colored-logo">
                <img src="assets/images/logo.png" height="41">
            </div>
        </div>
        <div class="nav-area col d-md-flex flex-nowrap align-items-center justify-content-end" [hidden]="!userId">
            <div class="nav mr-5">
                <div class="nav-item active p-4" [hidden]="!formPermission.canView">
                    <a [routerLink]="['/forms']">Forms</a>
                </div>
                <div class="nav-item p-4" [hidden]="!organizationPermission.canView">
                    <a [routerLink]="['/work-spaces']">Organizations</a>
                </div>
            </div>
            <div class="org-switch-wrapper mx-4 bg-light" *ngIf="userWorkspaceList && !hideDropdown">
                <div class="org-switch-wrapper border rounded">
                    <ul ngbNav #nav="ngbNav" class="nav-tabs justify-content-center">
                        <li ngbDropdown class="nav-item">
                            <a href (click)="false" class="nav-link" ngbDropdownToggle>{{userWorkspaceList.name}}</a>
                            <div ngbDropdownMenu>
                                <ng-container *ngFor="let userWorkspace of userWorkspaceLists; let i = index">
                                    <button ngbDropdownItem *ngIf="userWorkspaceList.id != userWorkspace.id" (click)="changeWorkSpace(userWorkspace)">{{ userWorkspace.name }}</button>
                                </ng-container>
                            </div>
                        </li>
                    </ul>
                    <div [ngbNavOutlet]="nav"></div>
                </div>
            </div>
            <div class="lang-switcher-wrapper mr-4">
                <i class="material-icons">language</i>
            </div>
            <div class="account-image-wrapper">
                <div ngbDropdown class="d-inline-block">
                    <div class="account-image" id="dropdownBasic1" ngbDropdownToggle>
                        <img class="rounded-circle" src="assets/images/user.jpg" height="35">
                    </div>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <a [routerLink]="['/my-profile']" ngbDropdownItem>My Account</a>
                        <a [routerLink]="['/user/logout']" ngbDropdownItem>Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="workSpacePlanDetail">
        <span class="plan" [hidden]="!planPermission.canView && isSuperAdmin">
            Your current usage : {{workSpacePlanDetail.noOfUsers}}/{{workSpacePlanDetail.plandetails.noOfUsers}}
            USERS | {{workSpacePlanDetail.noOfForms}}/{{workSpacePlanDetail.plandetails.noOfForms}} 
            Forms | {{workSpacePlanDetail.noOfEntries}}/{{workSpacePlanDetail.plandetails.noOfEntries}}
            ENTRIES | {{ calulateUites(workSpacePlanDetail.storageSize, 4) }}/{{ calulateUites(workSpacePlanDetail.plandetails.storageSize) }} Storage
            <a class="plan-detail" [routerLink]="" [hidden]="!planPermission.canView">View Details</a>
            <i class="material-icons">close</i>
        </span>
    </div>
</div>
<!-- Header End-->