<!-- Header Started-->
<div class="header-container container-fluid">
    <div class="header-wrapper row px-3 border-bottom d-flex flex-nowrap align-items-center justify-content-between">
        <div class="logo-wrapper col py-3">
            <div class="colored-logo">
                <img src="../../../assets/images/logo.png" height="41">
            </div>
        </div>
        <div class="nav-area col d-flex flex-nowrap align-items-center justify-content-end">
            <div class="nav mr-5">
                <div class="nav-item active p-4">
                    Forms
                </div>
                <div class="nav-item p-4">
                    Organizations
                </div>
            </div>
            <div class="org-switch-wrapper mx-4 bg-light">
                <div class="org-switch-wrapper border rounded py-2 pl-3">
                    <span class="org-name mr-3">Company Name</span>
                    <i class="material-icons pr-2">expand_more</i>
                </div>
            </div>
            <div class="lang-switcher-wrapper mr-4">
                <i class="material-icons">language</i>
            </div>
            <div class="account-image-wrapper">
                <div class="account-image">
                    <img class="rounded-circle" src="../../../assets/images/user.jpg" height="35">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header End-->