<div class="row row mt-5">
    <div class="col-md-4">
        <div class="selected-plan-wrapper shadow-sm row no-gutters rounded border text-center">
            <div class="plan-name-wrapper col-md-12 py-5 text-white-50 rounded-top">
                <div class="plan-name">
                    <h4 class="mb-n2"><strong>Value</strong></h4>
                </div>
            </div>
            <div class="plan-price-wrapper col-md-12 py-4 border-bottom">
                <div class="plan-price">
                    <h4><strong>US$</strong> 196</h4>
                </div>
                <div class="plan-period mt-n2 text-secondary">amount / month</div>
            </div>
            <div class="col-md-12 p-2">
                <div class="plan-attributes-wrapper row px-2 py-4">
                    <div class="plan-attribute col-md-12 py-1">
                        <span>4</span><span class="text-secondary"> Users</span>
                    </div>
                    <div class="plan-attribute col-md-12 py-1">
                        <span>500</span><span class="text-secondary"> Forms</span>
                    </div>
                    <div class="plan-attribute col-md-12 py-1">
                        <span>2500</span><span class="text-secondary"> Entries</span>
                    </div>
                    <div class="plan-attribute col-md-12 py-1">
                        <span>1 GB</span><span class="text-secondary"> Storage</span>
                    </div>
                    <div class="plan-price-button col-md-12 mt-3">
                        <button type="button" class="btn btn-bf btn-sm">Change Plan</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                <label>Name</label>
                <div class="form-group">
                    <input id="" name="" placeholder="John" type="text" class="form-control" disabled>
                </div>
                <div class="form-group">
                    <input id="" name="" placeholder="Checga" type="text" class="form-control" disabled>
                </div>
                <hr>
                <label>Organization</label>
                <div class="form-group">
                    <input id="" name="" placeholder="Metagauss" type="text" class="form-control" disabled>
                </div>
                <hr>
                <div class="form-group">
                    <input id="" name="" placeholder="Address 1" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input id="" name="" placeholder="Address 2" type="text" class="form-control">
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <input id="" name="" placeholder="City" type="text" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <input id="" name="" placeholder="State / Province / Region" type="text" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <input id="" name="" placeholder="Postal / Zip Code" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <input id="" name="" placeholder="9782159840" type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <label>Email Address</label>
                <div class="form-group">
                    <input id="" name="" placeholder="John@gmail.com" type="text" class="form-control">
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="newPlan text-right">
                            <strong>Tier 1 Value Plan</strong> ($ 5/Month)
                        </div>
                        <div class="text-right"><strong>Subtotal: </strong><span><strong>$5</strong></span></div>
                        <div class="text-right"><strong>Amount Due </strong><span><strong>$5</strong></span></div>
                        <div class="form-group">
                            <div class="text-right">
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input name="checkbox" id="checkbox_0" type="checkbox" class="custom-control-input" value="rabbit">
                                    <label for="checkbox_0" class="custom-control-label">Recurring Payment</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <button name="submit" type="submit" class="btn btn-primary btn-block btn-bf">Pay Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>