<!-- Input Type => String | Number -->
<input
[attr.type]="model.inputType"
class="form-control"
id="name"
 [(ngModel)]="model.value"
 name="name" 
 #name = "ngModel"
 [attr.maxlength]="model.maxVal"
 [attr.minlength]="model.minVal"
 [attr.placeholder]="model.placeholder"
 autocomplete="off">
 <!-- {{name.valid ? '[valid]' : '[Not Valid]'}}
 {{name.touched ? '[Touched]' : '[Not Touched]'}}
 {{name.dirty ? '[Edited]' : '[Not Edited]'}} -->

 
<!-- <input 
type="text"
class="form-control"
id="name"
required
[(ngModel)]="model.name"
name="name"
#name="ngModel">

<div [hidden]="name.valid || name.pristine" class="alert alert-danger">
    Name is required
</div> -->
<!-- [attr.type]        for input type => text | number
[attr.placeholder] for placeholder text
[(ngModel)]        for updating value
(change)           check if element is touched or not -->


<!-- initial ng-untouched => ng-pristine ng-valid
clicked and unfocused => ng-touched ng-pristine ng-valid
model changed =>ng-touched ng-valid ng-dirty -->