<div class="my-5 px-5 ">
    <div class="search-wrapper">
        <div class="form-group has-search mb-5">
            <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="searchedString" (ngModelChange)="searchAccounts($event)">
        </div>
    </div>
    <div class="add-account-wrapper d-flex flex-wrap justify-content-between mb-5">
        <button type="button" (click)="openAddAccountModal()" id="add-form" class="btn btn-bf btn-sm" title="Add New Setting">Add Setting</button>
    </div>
    <div class="organization-list col-md-12 border rounded">
        <ng-container *ngIf="accountsLists.length == 0">
            <div class="organization-list-item row p-3 border-bottom">No Record Found</div>
        </ng-container>
        <ng-container *ngFor="let account of accountsLists">
            <div [style.display]="searchedString.length === 0 ? 'flex' : !account.accountName?.toLowerCase()?.includes(searchedString?.trim()?.toLowerCase()) ? 'none' : 'flex'" class="organization-list-item row p-3 border-bottom">
                <div class="organization-title-wrapper col-md-9">
                    <div clss="organization-name">{{ account.accountName }}</div>
                    <span><i>{{ account.createdDate | date: 'dd-MMM-Y' }}</i></span>
                </div>
                <div class="organization-actions-wrapper col-md-3 d-flex d-wrap justify-content-end">
                    <i class="material-icons-round mr-3 text-dark" (click)="editAccount(account)" data-toggle="modal" role="button" title="Edit">edit</i>
                    <i class="material-icons-round text-dark" (click)="deleteAccount(account)" data-toggle="modal" role="button" title="Delete">delete</i>
                </div>
            </div>
        </ng-container>
    </div>
</div>