$base-color: #f04564;
$base-hover-color:#D6425D;
$base-active-color:#BD3A51;
$page-background-light:#fff;
$base-color-light:#fff4f5;
$btn-text-color:#fff;

/*--- Form icon color---*/

$input-icon-color:#343a40;

/* -- Form builder Inputs ---*/

$bf-input-bg:#efefef;