<div class="manage-organization-container container">
    <div class="organization-wrapper row mb-5">
        <div class="col-sm-12">

            <div class="my-5 px-5 manage-organization-wrap">

                <h4>General Details</h4>
                <form class="organization-setting">
                    <div class="row my-4  form-group">
                        <div class="col-md-3">
                            <label for="role-name">Name</label><span class="text-danger"> *</span>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="role-name">
                        </div>
                    </div>
                    <div class="row my-4 form-group">
                        <div class="col-md-3">
                            <label for="role-description">Description</label>
                        </div>
                        <div class="col-md-9">
                            <textarea class="form-control" rows="5" maxlength="200" cols="5" id="role-description"></textarea>
                        </div>
                    </div>


                    <div class="row my-4 form-group ">
                        <div class="col-md-3 ">
                            <label for="currency-select ">Active</label>
                        </div>
                        <div class="col-md-9">
                            <div class="custom-control custom-switch ">
                                <input type="checkbox" class="custom-control-input" id="bf_active_role">
                                <label class="custom-control-label" for="bf_active_role"></label>
                            </div>
                        </div>
                    </div>

                </form>

                <div class="my-5">
                    <h4>Permissions under this role for modules</h4>
                    <table class="table mt-3 table-borderless text-center border">
                        <thead class="thead-light">
                            <tr>
                                <th class="text-left">
                                    Module
                                </th>
                                <th>
                                    View
                                </th>
                                <th>
                                    Edit
                                </th>
                                <th>
                                    Delete
                                </th>
                                <th>
                                    Upload
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-left">User</td>
                                <td><i class="material-icons-outlined text-dark">check_box_outline_blank</i></td>
                                <td><i class="material-icons-outlined text-dark">check_box_outline_blank</i></td>
                                <td><i class="material-icons text-bf">check_box</i></td>
                                <td><i class="material-icons-outlined text-dark">check_box_outline_blank</i></td>
                            </tr>
                            <tr>
                                <td class="text-left">Role</td>
                                <td><i class="material-icons-outlined text-dark">check_box_outline_blank</i></td>
                                <td><i class="material-icons-outlined text-dark">check_box_outline_blank</i></td>
                                <td><i class="material-icons text-bf">check_box</i></td>
                                <td><i class="material-icons-outlined text-dark">check_box_outline_blank</i></td>
                            </tr>
                            <tr>
                                <td class="text-left">Organizations</td>
                                <td><i class="material-icons-outlined text-dark">check_box_outline_blank</i></td>
                                <td><i class="material-icons-outlined text-dark">check_box_outline_blank</i></td>
                                <td><i class="material-icons text-bf">check_box</i></td>
                                <td><i class="material-icons-outlined text-dark">check_box_outline_blank</i></td>
                            </tr>

                            <tr>
                                <td class="text-left">Plan</td>
                                <td><i class="material-icons-outlined text-dark">check_box_outline_blank</i></td>
                                <td><i class="material-icons-outlined text-dark">check_box_outline_blank</i></td>
                                <td><i class="material-icons text-bf">check_box</i></td>
                                <td><i class="material-icons-outlined text-dark">check_box_outline_blank</i></td>
                            </tr>
                        </tbody>
                    </table>


                    <div class="form-group mt-5 row role-btn-container">
                        <button type="button" class="btn btn-link btn-md text-bf">Back</button>
                        <button type="button" class="btn btn-bf btn-md ml-3 ">Save</button>
                    </div>
                </div>


            </div>




        </div>
    </div>
</div>