<div class="header-container container-fluid">
    <div class="header-wrapper row px-3 border-bottom">
        <div class="logo-wrapper col-11 py-3 d-flex align-items-center justify-content-between">
            <div class="colored-logo">
                <img src="../../../assets/images/logo.png" height="41">
            </div>
        </div>
        <div class="col-1 py-3 ">
            <button (click)="logout()" type="button"
                class="login-button btn btn-bf btn-block py-2">
                Log Out</button>
        </div>
    </div>
</div>